nav.bg-gray-800 {
  background: $c-pink;
  color: $c-navy;
  @include lg {
    padding: 1rem 0.5rem;
  }

  a {
    color: $c-navy;
    background: transparent;
    font-size: 1.1rem;

    &:hover,
    &:active,
    &:focus {
      background: transparent;
    }
  }

  .border-b {
    border: none;
  }

  .eventive__logo-container__logo {
    width: 300px !important;
    height: auto !important;
    max-width: 50% !important;
    max-height: none !important;

    @include lg {
      max-width: none !important;
    }
  }

  button {
    background: $c-white;
    color: $c-black;
    border-radius: 0;
    margin-right: 0.5rem;
    @include fontBold;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    @include border;
  }

  button.max-w-xs.flex.items-center.text-sm.rounded-full {
    background: transparent;
    border: none !important;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none !important;
    }

    > span {
      background: $c-navy;
    }
  }

  .origin-top-right {
    .rounded-md.bg-always-white {
      background: $c-beige;

      .text-always-gray-500 {
        @include fontLight;
        color: $c-blue;
      }

      .text-always-gray-400 {
        color: $c-blue;
      }
      a {
        font-size: 1rem;

        &:hover {
          color: $c-blue;
        }
      }
    }
  }

  .inline-flex.items-center.justify-center.h-10.w-10.rounded-full.bg-gray-400 {
    background: $c-navy;
  }

  div.text-gray-400 {
    color: $c-navy;
  }
}

.bg-gray-800.pb-32 {
  background: transparent;
}
