button, a {
  border-radius: 0 !important;
  font-family: $font !important;
  height: auto !important;
  box-shadow: none !important;
  line-height: 1.75 !important;
  border: 0 !important;
  background-color: transparent !important;

  &:focus {
    box-shadow: none;
  }

  > div > div:not(.parallax-content),
  > button {
    background: $c-beige !important;
    color: $c-navy !important;
    border-radius: 0.75rem !important;
    border: 3px solid $c-navy !important;
    height: auto !important;
    padding: 0.25rem 1rem !important;
    box-shadow: none !important;
    @include fontBold;
    font-size: 1.5rem !important;

    span {
      color: $c-navy !important;
      text-transform: none !important;
      vertical-align: 0 !important;
      font-size: 1.75rem !important;
      font-weight: 500 !important;
    }

    span:not(.icon-*) {
      font-family: $font !important;
    }
  }

  &:hover {
    > div > div:not(.parallax-content),
    > button {
      background: $c-pink !important;
    }
  }
}

button[disabled], div[data-reactroot] >  div > div > div > div > div + div > p + div > button {
  border-radius: 0 !important;
  font-family: $font !important;
  height: auto !important;
  box-shadow: none !important;
  line-height: 1.75 !important;
  border: 0 !important;
  opacity: 0.5 !important;
  background-color: transparent !important;


  > div  {
    background: $c-beige !important;
    color: $c-navy !important;
    border-radius: 0.75rem !important;
    border: 3px solid $c-navy !important;
    height: auto !important;
    padding: 0.25rem 1rem !important;
    box-shadow: none !important;
    line-height: 1.75 !important;
    @include fontBold;

    span {
      color: $c-navy !important;
      text-transform: none !important;
      vertical-align: 0 !important;
      font-size: 1.75rem !important;
      font-weight: 500 !important;
    }
  }

}

div[data-reactroot] >  div > div > div > div > div + div > p + div > button {
  opacity: 1 !important;
  margin-left: 1rem !important;
  vertical-align: 2px !important;

}

.eventive__wishlist-button {
  > div > div {
    display: none !important;
  }
}

.eventive__donate-button__button {
  background: transparent !important;
  box-shadow: none !important;
}

