#app > div > div {
  > div:nth-child(2) {
    max-width: 1280px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);

    > div {
      position: relative;
      z-index: 1;
      margin-top: auto !important;
      margin-bottom: auto !important;

      img {
        display: block;
        height: 25px !important;
        @include md {
          height: 40px !important;
          margin-top: 5px !important;
        }
      }

      button > div > div:not(.parallax-content), button > button, a > div > div:not(.parallax-content), a > button {
        background: none !important;
        border: none !important;
        padding: 0 !important;
        span {
          color: $c-black !important;
          font-size: 24px !important;

        }
      }

      .icon-exit {
        color: $c-black !important;
      }

      button:hover > div > div:not(.parallax-content) span, button:hover > button span, a:hover > div > div:not(.parallax-content) span, a:hover > button span {
        font-family: icomoon !important;
      }


      &:first-child {
        button {
          @include lg {
            border: 3px solid $c-navy !important;
            border-radius: 0.75rem !important;
            background: $c-white !important;
            padding: 0.5rem 1rem !important;
            height: auto !important;
            line-height: 1 !important;
            text-transform: capitalize !important;
            @include fontBold;
            font-size: 1.75rem !important;

            &:hover {
              background: $c-yellow !important;
            }
          }
        }
      }
    }


    &::before {
      display: block;
      top: 0;
      left: -50%;
      position: absolute;
      z-index: 0;
      width: 200vw;
      height: 100%;
      background: $c-teal;
      content: " ";
    }
    @include lg {
      padding: 1rem 0.5rem;
    }

    button > div > div {
      display: none !important;
    }

    button:hover > div > span {
      color: $c-navy !important;
    }

    button:hover > div > svg {
      fill: $c-navy !important;
    }

    > div:nth-child(2) {
    }
  }
}

#app > div > div > div:nth-child(3) > div:nth-child(2) {
  span[role=menuitem] {
    background-color: transparent !important;
  }
 }
