button, a,
.eventive__ticket-button__container button,
.eventive__universal_ticket-button__container button {
  font-family: $font !important;
  box-shadow: none !important;

  &:focus {
    box-shadow: none;
  }

  > div > div:not(.parallax-content),
  > button {
    background: $c-black !important;
    color: $c-beige !important;
    box-shadow: none !important;
    height: auto !important;
    @include borderSm;

    span {
      color: $c-beige !important;
      text-transform: none !important;
      vertical-align: 0 !important;
      font-weight: 400 !important;
      line-height: 1rem  !important;;
    }

    svg {
      fill: $c-beige !important;
    }

    span:not(.icon-*) {
      font-family: $font !important;
    }
  }

  &:hover {
    > div > div:not(.parallax-content),
    > button {
      background: $c-blue !important;
      color: $c-black !important;

      .FilmPage & {
        background: $c-yellow !important;
      }

      svg {
        fill: $c-black !important;
      }

      span {
        color: $c-black !important;
      }
    }
  }
}

.EventList--EventListItem {
  button, button[disabled], a {
    &:hover {
      > div > div:not(.parallax-content),
      > button {
        background: $c-black !important;
      }
    }

  }
}

button[disabled], div[data-reactroot] >  div > div > div > div > div + div > p + div > button {
  border-radius: 0 !important;
  font-family: $font !important;
  box-shadow: none !important;
  border: 0 !important;
  opacity: 0.5 !important;
  background-color: transparent !important;
  transition: none !important;

  > div  {
    background: $c-black !important;
    color: $c-white !important;
    border-radius: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
    transition: none !important;

    span {
      color: $c-white !important;
      text-transform: none !important;
      vertical-align: 0 !important;
      font-weight: 400 !important;
      line-height: 1rem  !important;;
    }
    svg {
      fill: $c-black !important;
    }
  }

  &:hover > div {
    background: $c-black !important;
    color: $c-beige !important;

    span {
      color: $c-beige !important;
    }
    svg {
      fill: $c-beige !important;
    }
  }

}

div[data-reactroot] >  div > div > div > div > div + div > p + div > button {
  opacity: 1 !important;
  margin-left: 1rem !important;
  vertical-align: 2px !important;

}

.eventive__wishlist-button {
  > div > div {
    display: none !important;
  }
}

.eventive__donate-button__button,
.Eventive--TenantButton,
.Eventive--TenantButton button,
.Eventive--TenantButton a,
.eventive__ticket-button__button,
.eventive__universal_ticket {
  background: transparent !important;
  box-shadow: none !important;
  height: auto !important;
}

#app > div > div > div:nth-child(4) > div > div > div.FilmPage > div > div:nth-child(2) > div:nth-child(2) > div > div {
  background: $c-yellow !important;
  color: $c-black !important;
  height: auto !important;

  * {
    color: $c-black !important;
  }
}

#app > div > div > div:nth-child(4) > div > div > div.FilmPage > div > div:nth-child(2) > div:nth-child(2) > div > div > div > div:nth-child(2) {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
