#app > div > div {
  > div:nth-child(2) {
    background: $c-blue !important;
    @include lg {
      border-bottom-left-radius: 30px !important;
      -webkit-border-bottom-left-radius: 30px !important;
      border-bottom-right-radius: 30px !important;
      -webkit-border-bottom-right-radius: 30px !important;
    }

    > div:nth-child(2) img {
      max-width: 160px;
      height: auto !important;
      @include lg {
        height: 40px !important;
        max-width: none;
      }
    }

    > div {
      button > div > div:not(.parallax-content), button > button, a > div > div:not(.parallax-content), a > button, button:not(:first-child) > div {
        background: transparent !important;
        color: $c-black !important;
        text-transform: capitalize !important;
        span {
          color: $c-black !important;
        }

        &:hover {
          color: $c-black !important;
          span {
            color: $c-black !important;
          }

        }
      }

      .icon-exit {
        color: $c-black !important;
      }

      button:hover > div > div:not(.parallax-content) span, button:hover > button span, a:hover > div > div:not(.parallax-content) span, a:hover > button span {
        font-family: icomoon !important;
      }


      &:first-child {
        button {
          float: right;
          border: none !important;
          color: $c-black !important;
          background: transparent !important;
          display: flex !important;
          justify-content: center;
          align-items: center;
          @include border;

          svg {
            display: block !important;
          }

          @include lg() {
            padding: 0.75rem 1rem !important;
            height: auto !important;
          }

          line-height: 1 !important;
          @include fontBold;

          &:hover {
            background: transparent !important;
            color: $c-black !important;
          }

          > div > div {
            display: block !important;
            color: $c-beige !important;
            height: auto !important;
          }

          svg {
            fill: currentColor !important;
            color: currentColor !important;
          }

          &:hover {
            > div > div {
              color: $c-black !important;}
          }
        }
      }
    }

    @include lg {
      padding: 1rem 0.5rem;
    }

    button > div > div {
      display: none !important;
    }

    div:nth-child(3) > span > a > div > button > div > div {
      display: block !important;
    }

    div:nth-child(3) > span > a > div > button {
      color: $c-black !important;
      background: $c-beige !important;
      height: auto !important;
      text-transform: capitalize !important;
      div {
        color: $c-beige !important;
        font-weight: 500 !important;
        height: auto !important;
        line-height: 1 !important;
      }
    }

    button:hover > div > span {
      color: $c-beige !important;
    }

    button:hover > div > svg {
      fill: $c-beige !important;
    }

    > div:nth-child(2) {
    }
  }
}

#app > div > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  color: $c-beige !important;
}

#app > div > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  background: $c-beige !important;
  color: $c-black !important;
}

#app > div > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) span[role="menuitem"] {
  color: $c-black !important;
}

#app > div > div > div:nth-child(2) > div:nth-child(3) > div > span > a:nth-child(2) > button > div > svg {
  fill: $c-black !important;
}
