#app > div > div > div {
  + div + div + div {
    > div + div {
      > div > div {
        > div {
          border-left: 0 !important;
          border-right: 0 !important;
        }
      }
    }
  }
}

.blackstar-skin-helper-schedule:not(.blackstar-skin-helper-parent):not(.blackstar-skin-helper-quick):not(.blackstar-skin-helper-tickets) {
  #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div > div > div:nth-child(1) > div > button,
  #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div > div > div:nth-child(2) > div:nth-child(1) > div {
    background: transparent !important;
  }
}

.blackstar-skin-helper-schedule:not(.blackstar-skin-helper-parent):not(.blackstar-skin-helper-quick):not(.blackstar-skin-helper-tickets),
.blackstar-skin-helper-films:not(.blackstar-skin-helper-parent) {
  #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div {
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 30px !important;
    box-shadow: none !important;
    background: $c-pink !important;
  }

  #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div > div > div:nth-child(2) > div:nth-child(1) > div > div {
    border-radius: 30px !important;
  }

  #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div > div > div:nth-child(1) > div {
    box-shadow: none !important;
    background: transparent !important;
  }

  #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div > div > div:nth-child(2) > div:nth-child(2) > div > div {
    background: $c-pink !important;
    border-top-left-radius: 30px;
    color: #000 !important;
    border-top-right-radius: 30px;

     * {
       color: #000 !important;
     }
  }

  #app > div > div > div:nth-child(4) > div > div > div,
  #app > div > div > div:nth-child(4) > div > div > div > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(1),
  #app > div > div > div:nth-child(4) > div > div > div > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(1) > button {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  .eventive__ticket-button__container button:not(.eventive__wishlist-button),
  .eventive__universal_ticket-button__container button:not(.eventive__wishlist-button) {
    background: $c-black !important;
    @include borderSm;
  }

  #app > div > div > div:nth-child(4) > div > div > div > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(2) {
    background: transparent !important;
    box-shadow: none !important;
  }

  #app > div > div > div:nth-child(4) > div > div > div > div > div:nth-child(1) > div:nth-child(2) > div > div {
    border-top-left-radius: 1.5rem !important;
    border-top-right-radius: 1.5rem !important;
    background: $c-black !important;
    margin-top: -1.5rem !important;
  }
}
/*
div[data-radium] {
  > div > div.tenant-injected-html + div {
    > div:first-child {
      background: $c-beige !important;
      border-radius: 0 !important;

      > div:nth-child(2) > div:nth-child(3) > span, > div:nth-child(2) > div:nth-child(3) > div {
          display: none;
      }

      div > div,
      div > div > span {
        color: $c-black !important;
      }

      input {
        color: $c-black !important;
      }

      .Tag {
        @include tag;
        color: $c-black !important;
        border-color: $c-black !important;
      }

      button {
        background: $c-black !important;
        color: $c-beige !important;
        border-radius: 0 !important;
        border: 0 !important;
        height: auto !important;
        padding: 0.25rem 1rem !important;
        box-shadow: none !important;

        .icon-search {
          display: none;
        }

        span {
          color: $c-beige !important;
          text-transform: none !important;
          font-weight: normal !important;
          font-size: 1.25rem !important;
        }

        &:hover {
          background: $c-blue !important;

          span {
            color: $c-black !important;
          }

        }
      }

      label {
        color: $c-black !important;
      }

      > div {

        &:first-child {
          font-size: 2rem !important;

          > div {
            display: none !important;
          }
        }

        &:last-child {
          background: transparent;
        }
      }

      > div > div {
        // display: none !important;
      }

      + div {
        > div:not(.EventList--EventListItem) {
          display: flex !important;
          font-family: $font;
          margin-top: 2rem;
          color: $c-black !important;
          max-width: none !important;
          font-weight: normal !important;
        }
      }
    }
  }
}*/

.EventList--EventListItem {
  @include borderSm;
  background: $c-beige !important;
  color: $c-black !important;
  margin: 0 1rem !important;
  @include lg {
    margin: 0 !important;
  }
  box-shadow: none !important;

  > div {
    div:first-child {
      color: $c-black !important;
      font-weight: normal !important;
    }

    div:nth-child(2) {
      font-size: 1.2rem !important;
      font-weight: normal !important;
      font-style: normal !important;
      margin-bottom: 0.5rem !important;

      .blackstar-skin-helper-viewMode-extended & {
        font-size: 1rem !important;
        line-height: normal !important;
      }

      &.pull-left {
        font-size: 1rem !important;
      }
    }
  }

  .Tag {
    display: none !important;
  }

  .eventive__wishlist-button {
    > div {
      > div {
        display: none !important;
      }
    }

    svg {
      fill: $c-black !important;
    }
  }
}

div[data-radium] > div > div > div > div > div.tenant-injected-html {
  p {
    text-align: left;
  }
  + div {
    > div > a,
    > div > span > a {
      font-family: $font !important;
    }
  }
}

#app > div > div > div:nth-child(4) > div:nth-child(2) > div > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div:nth-child(4),
#app > div > div > div:nth-child(4) > div > div > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div:nth-child(4) {
  display: none;
}

.Eventive--SchedulePage .Eventive--ModeSwitcher {
  + div {
    > div {
      > div:not(.EventList--EventListItem) {
        color: $c-black !important;
        padding-left: 0 !important;
        font-size: 1rem !important;
        margin-top: 2rem !important;

        @include lg {
          font-size: 1.25rem !important;
        }
      }
    }
  }
}

.blackstar-skin-helper-viewMode-grid,
.blackstar-skin-helper-viewMode-timeline {
  .Eventive--SchedulePage .Eventive--ModeSwitcher {
    + div {
      > div {
        > div:not(.EventList--EventListItem) {
          font-size: 0.9rem !important;
        }
      }
    }
  }
}

.Eventive--ModeSwitcher.Eventive--ModeSwitcher--schedule + div > div:first-child > div:nth-child(2n),
.Eventive--ModeSwitcher.Eventive--ModeSwitcher--schedule + div.tenant-injected-html + div > div:first-child > div:nth-child(2n) {
  > button span,
  > button {
    color: $c-black !important;
    background: $c-blue !important;
  }

  button span {
    color: $c-black !important;
  }

  button {
    @include borderSm;
  }
}

.Eventive--ModeSwitcher.Eventive--ModeSwitcher--schedule + div > div:first-child > div:nth-child(1n),
.Eventive--ModeSwitcher.Eventive--ModeSwitcher--schedule + div.tenant-injected-html + div > div:first-child > div:nth-child(1n){
  button {
    fill: $c-black !important;
  }
}

.Eventive--ModeSwitcher {
  > div {
    box-shadow: none !important;
    background-color: transparent !important;
    margin: 0 0.25rem !important;

    button {
      background-color: transparent !important;
    }
  }
}

.blackstar-skin-helper-parent.blackstar-skin-helper-schedule #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(1) {
  @include borderWatchAlt;
  box-shadow: none !important;
}

.blackstar-skin-helper-parent.blackstar-skin-helper-schedule {
  .eventive__ticket-button__button.eventive__universal_ticket-button__button button {
    border-radius: 1.5rem !important;
    background: transparent !important;
  }
}
