#app > div > div {
  > div:nth-child(2) {
    max-width: 1280px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);

    > div {
      position: relative;
      z-index: 1;
      margin-top: auto !important;
      margin-bottom: auto !important;

      img {
        display: block;
        height: 40px !important;
        @include lg {
          height: 60px !important;
          margin-top: 0px !important;
        }
      }

      button > div > div:not(.parallax-content), button > button, a > div > div:not(.parallax-content), a > button {
        background: none !important;
        color: $c-black !important;
        border: none !important;
        padding: 0 !important;
        span {
          color: $c-black !important;
          font-size: 24px !important;

        }
      }

      .icon-exit {
        color: $c-black !important;
      }

      button:hover > div > div:not(.parallax-content) span, button:hover > button span, a:hover > div > div:not(.parallax-content) span, a:hover > button span {
        font-family: icomoon !important;
      }


      &:first-child {
        button {
          float: right;
          border: none !important;
          border-radius: 0 !important;
          background: $c-black !important;
          color: $c-beige !important;
          padding: 0.5rem !important;
          display: flex !important;
          justify-content: center;
          align-items: center;

          svg {
            display: block !important;
          }

          @include lg() {
            padding: 0.75rem 1rem !important;
            height: auto !important;
          }

          line-height: 1 !important;
          @include fontBold;
          font-size: 1.2rem !important;

          &:hover {
            background: $c-blue !important;
            color: $c-black !important;
          }

          > div > div {
            display: block !important;
            color: $c-beige !important;
            height: auto !important;
          }

          svg {
            fill: currentColor !important;
            color: currentColor !important;
          }

          &:hover {
            > div > div {
              color: $c-black !important;}
          }
        }
      }
    }


    &::before {
      display: block;
      top: 0;
      left: -50%;
      position: absolute;
      z-index: 0;
      width: 200vw;
      height: 100%;
      background: $c-white;
      content: " ";
    }
    @include lg {
      padding: 1rem 0.5rem;
    }

    button > div > div {
      display: none !important;
    }

    div:nth-child(3) > span > a > div > button > div > div {
      display: block !important;
    }

    div:nth-child(3) > span > a > div > button {
      background: $c-black !important;
      color: $c-beige !important;
      padding: 0.75rem 1rem !important;
      height: auto !important;
      div {
        color: $c-beige !important;
        font-weight: 500 !important;
        height: auto !important;
        line-height: 1 !important;
        font-size: 1.2rem !important;
      }
    }

    button:hover > div > span {
      color: $c-black !important;
    }

    button:hover > div > svg {
      fill: $c-black !important;
    }

    > div:nth-child(2) {
    }
  }
}
