#passes,
#ticket-bundles {
  text-align: left !important;
  font-size: 2rem !important;
  color: $c-black;
  line-height: 0 !important;
  text-transform: none !important;
  @include fontBold();

  @include lg {
    font-size: 3rem !important;
  }
}

#passes + .tenant-injected-html,
#ticket-bundles + .tenant-injected-html {
  margin: 0 !important;

  > br {
    display: none !important;
  }

  + div {
    border: 0 !important;
    border-radius: 0 !important;
    margin: 0 -1rem !important;
    box-shadow: none !important;

    > div {
      background: $c-green !important;
      padding: 3rem 2rem !important;
      margin: 1rem !important;
      color: $c-black !important;
      text-align: left !important;
      @include border;
      border-right: 0 !important;
      border-bottom: 0 !important;
      border-radius: 0 !important;

      > h4 {
        text-align: left !important;
        font-weight: 500 !important;
        text-transform: none !important;
        margin: 0 !important;
        @include fontBold;
        font-size: 2.75rem !important;
      }

      .tenant-injected-html {
        p {
          text-align: left !important;
          font-family: $font;
          font-weight: 500 !important;
          font-size: 1.25rem !important;
          line-height: 1 !important;
          margin-bottom: 3rem !important;
        }

        + div {
          text-align: left !important;
          margin-top: 3rem !important;
        }
      }
    }
  }
}

#ticket-bundles + .tenant-injected-html {
  margin: 0 !important;

  > br {
    display: none !important;
  }

  + div {
    border: 0 !important;
    border-radius: 0 !important;
    margin: 0 -1rem !important;

    > div {
      &:last-child {
        background: $c-blue !important;
        color: $c-white !important;

        @include xl() {
          max-width: 281px;
        }
      }
    }

    + div.tenant-injected-html {
      max-width: none !important;
    }
  }
}

.Eventive--passes > div:first-child {
  color: $c-black !important;

  a {
    color: $c-black !important;
    text-decoration: underline !important;
    font-family: $font !important;
    font-weight: 500 !important;
  }

}

.Eventive--passes > div + div > div > div{
  background: transparent;
  box-shadow: none !important;
  margin-bottom: 0.5rem;


  button {
    background: $c-black !important;
    color: $c-beige !important;
    border-radius: 0 !important;
    border: 0 !important;
    height: auto !important;
    box-shadow: none !important;
    vertical-align: middle;
    transition: none !important;

    @include border;

    span {
      vertical-align: 0 !important;
      text-transform: none !important;
      font-weight: normal !important;
      color: $c-beige !important;

      @include fontBold;

      &.icon-qrcode,
      &.icon-cog {
        font-family: icomoon !important;
      }
    }

    span.icon-qrcode,
    span.icon-cog {
      display: none !important;

      @include lg {
        display: inline-block !important;
      }
    }

    &:hover {
      background: $c-green !important;

      span {
        color: $c-black !important;
      }

    }

    > div > div {
      padding: 0 !important;
      border: 0 !important;
      transition: none !important;
    }
  }
}

.eventive__pass-button__button {
  background-color: transparent !important;
  box-shadow: none !important;

  button {
    &:hover {
    > div > div:not(.parallax-content) {
      background: $c-yellow !important;
    }
    }
  }
}


.Eventive--tickets--noTickets {
  button {
    display: none !important;
  }
}

.Eventive--passes,
.Eventive--tickets {
  * {
    box-shadow: none !important;
  }
}

.Eventive--passes > div:first-child,
.Eventive--passes--noPasses > div:first-child {
  font-size: 1.25rem !important;
  margin-bottom: 4rem !important;
}


.Eventive--passes button > div > div:not(.parallax-content), .Eventive--passes button > button, .Eventive--passes a > div > div:not(.parallax-content), .Eventive--passes a > button {
  // background: transparent !important;
}
