#app > div > div > div {
  + div + div + div {
    > div + div {
      > div > div {
        > div {
          border-left: 0 !important;
          border-right: 0 !important;
        }
      }
    }
  }
}

div[data-radium] {
  > div > div > div {
    border-left: 0 !important;
    border-right: 0 !important;
  }
}

div[data-radium] {
  > div > div.tenant-injected-html + div {
    > div:first-child {
      background: $c-beige !important;
      border-radius: 0 !important;

      > div:nth-child(2) > div:nth-child(3) > span, > div:nth-child(2) > div:nth-child(3) > div {
          display: none;
      }

      div > div,
      div > div > span {
        color: $c-black !important;
      }

      input {
        color: $c-black !important;
      }

      .Tag {
        @include tag;
        color: $c-black !important;
        border-color: $c-black !important;
      }

      button {
        background: $c-black !important;
        color: $c-beige !important;
        border-radius: 0 !important;
        border: 0 !important;
        height: auto !important;
        padding: 0.25rem 1rem !important;
        box-shadow: none !important;

        .icon-search {
          display: none;
        }

        span {
          color: $c-beige !important;
          text-transform: none !important;
          font-weight: normal !important;
          font-size: 1.25rem !important;
        }

        &:hover {
          background: $c-blue !important;

          span {
            color: $c-black !important;
          }

        }
      }

      label {
        color: $c-black !important;
      }

      > div {

        &:first-child {
          font-size: 2rem !important;

          > div {
            display: none !important;
          }
        }

        &:last-child {
          background: transparent;
        }
      }

      > div > div {
        // display: none !important;
      }

      + div {
        > div:not(.EventList--EventListItem) {
          display: flex !important;
          font-family: $font;
          margin-top: 2rem;
          color: $c-black !important;
          max-width: none !important;
          font-weight: normal !important;
        }
      }
    }
  }
}

.EventList--EventListItem {
  background: $c-blue !important;
  color: $c-black !important;
  box-shadow: none !important;
  border: 0 !important;

  &:hover {
    border: 0 !important;
  }

  > div {
    div:first-child {
      color: $c-black !important;
    }

    div:nth-child(2) {
      font-size: 1rem !important;
    }
  }

  .Tag {
    display: none !important;
  }

  .eventive__wishlist-button {
    > div {
      > div {
        display: none !important;
      }
    }

    svg {
      fill: $c-black !important;
    }
  }
}

div[data-radium] > div > div > div > div > div.tenant-injected-html {
  p {
    text-align: left;
  }
  + div {
    > div > a,
    > div > span > a {
      font-family: $font !important;
      text-decoration: none !important;
    }
  }
}

#app > div > div > div:nth-child(4) > div:nth-child(2) > div > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div:nth-child(4),
#app > div > div > div:nth-child(4) > div > div > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div:nth-child(4) {
  display: none;
}
