@mixin sm {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: 1536px) {
    @content;
  }
}

@mixin fontItalic {
  font-family: $font;
  font-weight: normal;
  font-style: normal;
}


@mixin fontLight {
  font-family: $font;
  font-weight: 500;
  font-style: normal;
}

@mixin fontLightItalic {
  font-family: $font;
  font-weight: 500;
  font-style: normal;
}

@mixin fontBold {
  font-family: $font !important;
  font-weight: 500  !important;
  font-style: normal;
  line-height: 1 !important;
}

@mixin border {
  border: 0;
  border-radius: 0 !important;
}

@mixin borderSm {
  border: 0;
  border-radius: 0 !important;
}

@mixin tag {
  background: transparent !important;
  color: $c-black !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 2px solid $c-black !important;
  padding: 0 !important;
  font-size: 0.9rem !important;
  font-family: $font !important;
  font-style: normal !important;
}
