@font-face {
  font-family: "Matter";
  font-weight: normal;
  src: url(fonts/MatterSQ-Regular.woff) format("woff"), url(fonts/MatterSQ-Regular.woff2) format("woff2"), url(fonts/Matter-Regular.otf) format("opentype");
  font-display: swap; }

@font-face {
  font-family: "Matter";
  font-weight: 300;
  src: url(fonts/Matter-Light.otf) format("opentype");
  font-display: swap; }

@font-face {
  font-family: "Matter";
  font-weight: 500;
  src: url(fonts/MatterSQ-Medium.woff) format("woff"), url(fonts/MatterSQ-Medium.woff2) format("woff2"), url(fonts/Matter-Medium.otf) format("opentype");
  font-display: swap; }

.font-bold {
  font-weight: 500; }

.color-palette-black {
  --color-palette-gray-900: $c-black;
  --color-palette-gray-800: $c-black;
  --color-palette-gray-800-transparent: rgba(0, 0, 0, 0);
  --color-palette-gray-700: $c-white;
  --color-palette-gray-700-transparent: #25252500;
  --color-palette-gray-600: #43434f;
  --color-palette-gray-500: #575757;
  --color-palette-gray-400: $c-black;
  --color-palette-gray-300: $c-black;
  --color-palette-gray-200: $c-black;
  --color-palette-gray-100: $c-black;
  --color-palette-white: $c-black; }

.rounded,
.rounded-md,
.rounded-lg,
.rounded-xl,
.rounded-b-lg,
.rounded-t-lg {
  border-radius: 0 !important; }

.slider-up-background,
.slider-down-background {
  display: none; }

body .border-gray-700 {
  border-color: #000000; }

nav.bg-gray-800 {
  background: #e7ef5a;
  color: #000000; }
  @media (min-width: 1024px) {
    nav.bg-gray-800 {
      padding: 1rem 0.5rem; } }
  nav.bg-gray-800 a {
    color: #000000;
    background: transparent;
    font-size: 1.1rem; }
    nav.bg-gray-800 a:hover, nav.bg-gray-800 a:active, nav.bg-gray-800 a:focus {
      background: transparent; }
  nav.bg-gray-800 .border-b {
    border: none; }
  nav.bg-gray-800 .eventive__logo-container__logo {
    width: 80px !important;
    height: auto !important;
    max-width: none !important;
    max-height: none !important; }
    @media (min-width: 1024px) {
      nav.bg-gray-800 .eventive__logo-container__logo {
        width: 120px !important;
        max-width: none !important; } }
  nav.bg-gray-800 button {
    background: #ffffff;
    color: #000000;
    border-radius: 0;
    margin-right: 0.5rem;
    font-family: "Matter", sans-serif !important;
    font-weight: 500  !important;
    font-style: normal;
    line-height: 1 !important;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0 !important; }
  nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full {
    background: transparent;
    border: none !important; }
    nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full:hover, nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full:focus, nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full:active {
      box-shadow: none !important; }
    nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full > span {
      background: #000000; }
  nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white {
    background: #ebe8e2; }
    nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white .text-always-gray-500 {
      color: #000000; }
    nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white .text-always-gray-400 {
      color: #000000; }
    nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white a {
      font-size: 1rem; }
      nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white a:hover {
        color: #000000; }
  nav.bg-gray-800 .inline-flex.items-center.justify-center.h-10.w-10.rounded-full.bg-gray-400 {
    background: #000000; }
  nav.bg-gray-800 div.text-gray-400 {
    color: #000000; }

.bg-gray-800.pb-32 {
  background: transparent; }

html, body {
  background: #ebe8e2 url("images/mobile-bg@2x.png") top left;
  background-size: 100% auto;
  background-attachment: fixed !important;
  font-family: "Matter", sans-serif;
  line-height: 1.75; }
  @media (min-width: 768px) {
    html, body {
      background: #ebe8e2 url("images/bg@2x.png") top left;
      background-size: 100% auto; } }

nav.bg-gray-800 {
  background: #e7ef5a;
  color: #000000; }
  @media (min-width: 1024px) {
    nav.bg-gray-800 {
      padding: 1rem 0.5rem; } }
  nav.bg-gray-800 a {
    color: #000000;
    background: transparent;
    font-size: 1.1rem; }
    nav.bg-gray-800 a:hover, nav.bg-gray-800 a:active, nav.bg-gray-800 a:focus {
      background: transparent; }
  nav.bg-gray-800 .border-b {
    border: none; }
  nav.bg-gray-800 .eventive__logo-container__logo {
    width: 80px !important;
    height: auto !important;
    max-width: none !important;
    max-height: none !important; }
    @media (min-width: 1024px) {
      nav.bg-gray-800 .eventive__logo-container__logo {
        width: 120px !important;
        max-width: none !important; } }
  nav.bg-gray-800 button {
    background: #ffffff;
    color: #000000;
    border-radius: 0;
    margin-right: 0.5rem;
    font-family: "Matter", sans-serif !important;
    font-weight: 500  !important;
    font-style: normal;
    line-height: 1 !important;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0 !important; }
  nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full {
    background: transparent;
    border: none !important; }
    nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full:hover, nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full:focus, nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full:active {
      box-shadow: none !important; }
    nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full > span {
      background: #000000; }
  nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white {
    background: #ebe8e2; }
    nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white .text-always-gray-500 {
      color: #000000; }
    nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white .text-always-gray-400 {
      color: #000000; }
    nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white a {
      font-size: 1rem; }
      nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white a:hover {
        color: #000000; }
  nav.bg-gray-800 .inline-flex.items-center.justify-center.h-10.w-10.rounded-full.bg-gray-400 {
    background: #000000; }
  nav.bg-gray-800 div.text-gray-400 {
    color: #000000; }

.bg-gray-800.pb-32 {
  background: transparent; }

nav + header h2.text-gray-400, nav + header h3.text-white {
  color: #000000; }

nav + header h2, nav + header h3 {
  font-weight: normal !important; }

nav + header h2 {
  font-size: 3rem !important; }

nav + header h3 {
  font-size: 1.5rem !important; }
  @media (min-width: 1024px) {
    nav + header h3 {
      font-size: 3rem !important; } }

.scrollbarred {
  background: #000000;
  padding-left: 1.25rem; }
  .scrollbarred.pr-2 {
    padding-left: 0.5rem; }
  .scrollbarred .block.shadow.shadow-outline-gray {
    background: #e7ef5a; }
    .scrollbarred .block.shadow.shadow-outline-gray .inline-flex.rounded-full.text-red-800.bg-red-100 {
      background: transparent;
      padding: 0;
      border-radius: 0;
      color: #e7ef5a;
      font-weight: normal;
      font-family: "Matter", sans-serif;
      border-bottom: 2px solid #e7ef5a; }
  .scrollbarred .font-semibold {
    font-weight: normal !important; }
  .scrollbarred > a {
    border: 0;
    border-radius: 0 !important;
    background: #e7ef5a !important;
    color: #000000 !important;
    font-size: 1.2rem;
    box-shadow: none !important;
    font-weight: normal !important; }
    .scrollbarred > a:hover {
      background: #ebe8e2 !important;
      color: #000000 !important; }
  .scrollbarred .text-sm {
    font-family: "Matter", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000000 !important; }

.tenant-injected-html {
  padding: 2rem 0;
  font-size: 1rem;
  font-weight: 400; }
  @media (min-width: 1024px) {
    .tenant-injected-html {
      font-size: 1.2rem; } }

ul li {
  margin-bottom: 1.5rem; }
  ul li .text-gray-400.leading-5.mt-3.uppercase.text-xs {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-family: "Matter", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #000000 !important;
    text-transform: none !important; }
    ul li .text-gray-400.leading-5.mt-3.uppercase.text-xs + div.text-gray-300 {
      font-family: "Matter", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 1rem; }

.rounded-full.inline-flex.bg-gray-700 + span > span {
  color: #e7ef5a;
  border-bottom: 2px solid #e7ef5a;
  background: transparent;
  border-radius: 0;
  padding: 0;
  font-size: 1rem;
  min-height: 0 !important; }

.mb-5.text-gray-300.text-sm.flex.items-center a.underline {
  text-decoration: none; }

.rounded-full.inline-flex.bg-gray-700:not(.whitespace-no-wrap) {
  background: #e7ef5a;
  color: #ebe8e2;
  font-size: 2rem;
  padding: 1rem;
  min-height: 90px !important;
  border: 0;
  border-radius: 0 !important; }

.rounded-full.inline-flex.bg-gray-700.whitespace-no-wrap {
  color: #000000;
  border-bottom: 2px solid #000000;
  background: transparent;
  border-radius: 0;
  padding: 0;
  min-height: 0 !important; }

.rounded-t-lg.overflow-hidden.top-0.left-0.right-0 {
  background: #e7ef5a !important; }
  .rounded-t-lg.overflow-hidden.top-0.left-0.right-0 .text-always-white {
    color: #000000; }
    .rounded-t-lg.overflow-hidden.top-0.left-0.right-0 .text-always-white:not(.font-bold) {
      font-weight: normal !important; }

.slider-down-background + div {
  bottom: -0.5rem; }

.absolute.bottom-2.left-0.right-0.flex.justify-center.z-10 {
  justify-content: flex-start; }
  .absolute.bottom-2.left-0.right-0.flex.justify-center.z-10 span.bg-gray-300.text-gray-800 {
    color: #000000;
    background: transparent;
    border-radius: 0;
    padding: 1rem 2rem 0;
    font-size: 1.2rem;
    font-family: "Matter", sans-serif;
    font-weight: normal;
    font-style: normal; }

.mb-4.border.border-gray-600.bg-gray-700.rounded.p-4 {
  border: none;
  text-align: center !important;
  font-family: "Matter", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 0.5rem 1rem; }
  .mb-4.border.border-gray-600.bg-gray-700.rounded.p-4 .ml-4 {
    margin-left: auto;
    margin-right: auto; }
  .mb-4.border.border-gray-600.bg-gray-700.rounded.p-4 svg {
    display: none; }

.inline-flex.mr-1.items-center.rounded-full.text-xs.font-medium.leading-4.bg-green-200.text-green-800 {
  color: #000000 !important;
  background: transparent;
  border-radius: 0;
  padding: 0;
  font-size: 2rem;
  font-family: "Matter", sans-serif !important;
  font-weight: 500  !important;
  font-style: normal;
  line-height: 1 !important; }
  .inline-flex.mr-1.items-center.rounded-full.text-xs.font-medium.leading-4.bg-green-200.text-green-800 + .flex-1 {
    color: #000000 !important; }

.relative.flex-1.flex.flex-col.min-h-55vw {
  border: 0;
  border-radius: 0 !important; }

.hidden.mt-6.border-gray-600.px-4,
.mt-6.border-gray-600.px-6 {
  padding-left: 0;
  padding-right: 0; }
  .hidden.mt-6.border-gray-600.px-4 > div,
  .mt-6.border-gray-600.px-6 > div {
    border: 0;
    border-radius: 0 !important;
    background: #ffffff;
    padding: 2rem; }

.mt-6.border-gray-600.px-6 {
  padding-left: 1rem;
  padding-right: 1rem; }

.mt-12.px-4.sticky.top-0 > div.relative.pb-6 .absolute.h-6.w-4.z-10.bg-gray-800 {
  display: none !important; }

.resp-sharing-button__group {
  padding-top: 4rem; }
  .resp-sharing-button__group .resp-sharing-button {
    border-radius: 0;
    border: 0;
    border-radius: 0 !important;
    height: 100%;
    padding: 0.5rem 1rem;
    font-weight: 500; }
  .resp-sharing-button__group .react-add-to-calendar .text-xs {
    font-size: 1.2rem !important; }
  .resp-sharing-button__group .resp-sharing-button--copy,
  .resp-sharing-button__group .react-add-to-calendar .resp-sharing-button {
    display: block;
    height: auto; }
    .resp-sharing-button__group .resp-sharing-button--copy .text-xs,
    .resp-sharing-button__group .react-add-to-calendar .resp-sharing-button .text-xs {
      font-size: 1.2rem !important; }
  .resp-sharing-button__group .react-add-to-calendar__dropdown {
    background: #ebe8e2;
    color: #000000;
    padding: 0;
    min-width: 200px;
    margin-top: -10px;
    overflow: hidden;
    border: 0;
    border-radius: 0 !important; }
    .resp-sharing-button__group .react-add-to-calendar__dropdown ul li {
      margin-bottom: 0 !important; }
      .resp-sharing-button__group .react-add-to-calendar__dropdown ul li:last-child {
        margin-bottom: 0; }

.text-gray-100.text-center.bg-gray-700.p-4.rounded-lg.mb-8 {
  color: #ffffff; }

.group:hover div {
  box-shadow: none !important;
  transform: none !important; }

.slider-next-background,
.slider-prev-background {
  background: transparent; }

.group a > div {
  overflow: hidden;
  height: 260px;
  border: 0;
  border-radius: 0 !important; }
  .group a > div > div.absolute .text-xs.text-always-white {
    display: none !important; }
  .group a > div > div.absolute.bottom-0 {
    background: #e7ef5a !important;
    border: 0;
    border-radius: 0 !important;
    width: auto;
    left: -5px;
    right: -5px;
    bottom: -5px;
    color: #000000;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    font-weight: normal; }
    .group a > div > div.absolute.bottom-0 .text-xs {
      font-size: 1rem;
      margin-top: 0.5rem; }
  .group a > div > .inline-flex {
    background: #000000;
    color: #e7ef5a;
    font-size: 1rem;
    border-radius: 0;
    font-weight: normal !important; }
  .group a > div:hover {
    box-shadow: none !important;
    transform: none !important; }

.max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg {
  border: 0;
  border-radius: 0 !important; }
  .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg > h2.text-always-gray-800 {
    color: #000000; }
  .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg .text-always-gray-400.text-sm {
    font-family: "Matter", sans-serif;
    font-weight: 500;
    font-style: normal; }
  .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg .text-xs.text-always-gray-500.mr-4.leading-tight.text-center {
    font-family: "Matter", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000000; }
  .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg .tenant-injected-html {
    padding: 0;
    color: #000000; }
  .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg button.border-always-gray-300.bg-always-white,
  .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg button.shadow-outline-indigo.border-indigo-300.bg-indigo-100 {
    border-radius: 0 !important;
    background: #000000;
    box-shadow: none;
    color: #ebe8e2;
    border: 0;
    border-radius: 0 !important; }
    .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg button.border-always-gray-300.bg-always-white:hover,
    .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg button.shadow-outline-indigo.border-indigo-300.bg-indigo-100:hover {
      background: #ebe8e2;
      color: #000000; }
  .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg button.shadow-outline-indigo.border-indigo-300.bg-indigo-100 {
    background: #ebe8e2;
    color: #000000;
    font-size: 1.1rem; }
  .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg #card-element {
    border-radius: 0 !important;
    box-shadow: none !important;
    border: 0;
    border-radius: 0 !important;
    margin-bottom: 1rem;
    padding: 0.75rem 0.5rem; }

.eventive__button {
  border: 0;
  border-radius: 0 !important;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  font-weight: 500 !important;
  text-transform: capitalize; }
  .eventive__button:focus {
    box-shadow: none; }
  .eventive__button svg {
    display: none; }
  .eventive__button.bg-indigo-600, .resp-sharing-button__group .resp-sharing-button--copy,
  .resp-sharing-button__group .react-add-to-calendar .resp-sharing-button {
    background: #e7ef5a;
    color: #000000; }
    .eventive__button.bg-indigo-600:hover, .resp-sharing-button__group .resp-sharing-button--copy:hover,
    .resp-sharing-button__group .react-add-to-calendar .resp-sharing-button:hover {
      background: #ebe8e2;
      color: #000000; }
  .eventive__button.bg-reverse, .resp-sharing-button__group .resp-sharing-button--copy, .eventive__button.bg-indigo-400 {
    background: #ebe8e2;
    color: #000000; }
    .eventive__button.bg-reverse:hover, .resp-sharing-button__group .resp-sharing-button--copy:hover, .eventive__button.bg-indigo-400:hover {
      background: #000000;
      color: #e7ef5a; }

.text-gray-100.bg-gray-700 {
  color: #000000 !important; }

.bg-gray-700.p-4.rounded-lg {
  border: 0;
  border-radius: 0 !important; }

input#search {
  box-shadow: none !important;
  border: 0;
  border-radius: 0 !important; }

.h-7.w-7.text-gray-400 {
  color: #000000; }

#lookup-form,
#password-form {
  align-items: center; }
  #lookup-form input[type="email"],
  #lookup-form input[type="password"],
  #password-form input[type="email"],
  #password-form input[type="password"] {
    border: 0;
    border-radius: 0 !important;
    box-shadow: none !important; }
  #lookup-form .eventive__button,
  #password-form .eventive__button {
    font-size: 1.4rem; }

.mt-6 form.flex {
  align-items: center; }
  .mt-6 form.flex #coupon {
    border: 0;
    border-radius: 0 !important;
    box-shadow: none !important; }
  .mt-6 form.flex .eventive__button {
    font-size: 1.4rem; }

h2.group {
  font-family: "Matter", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 1; }
  @media (min-width: 1024px) {
    h2.group {
      font-size: 2rem; } }

.slick-slider + div.bg-gray-700 {
  background-color: transparent; }

.slick-slider + div.bg-gray-700 > div.bg-gray-700 {
  border: 0;
  border-radius: 0 !important;
  width: 100%;
  left: 0; }

.slick-slider + div.bg-gray-700 > div.relative {
  padding: 2rem 2rem; }
  .slick-slider + div.bg-gray-700 > div.relative h2 {
    font-weight: normal;
    font-size: 1.2rem; }
  .slick-slider + div.bg-gray-700 > div.relative .text-gray-400 {
    font-weight: 500;
    color: #000000; }

.form-checkbox + .tenant-injected-html {
  padding: 0;
  font-size: 1rem; }

nav + header h2 {
  display: none !important; }
