@font-face {
  font-family: "Matter";
  font-weight: normal;
  src: url(~assets/fonts/MatterSQ-Regular.woff) format("woff"), url(~assets/fonts/MatterSQ-Regular.woff2) format("woff2"), url(~assets/fonts/Matter-Regular.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Matter";
  font-weight: 300;
  src: url(~assets/fonts/Matter-Light.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Matter";
  font-weight: 500;
  src: url(~assets/fonts/MatterSQ-Medium.woff) format("woff"), url(~assets/fonts/MatterSQ-Medium.woff2) format("woff2"), url(~assets/fonts/Matter-Medium.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Triptych";
  font-weight: normal;
  src: url(~assets/fonts/Triptych-Roman.woff) format('woff'), url(~assets/fonts/Triptych-Roman.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "TriptychItalic";
  font-weight: normal;
  src: url(~assets/fonts/Triptych-Italick.woff) format('woff'), url(~assets/fonts/Triptych-Italick.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "PanamaIranic";
  font-weight: normal;
  src: url(~assets/fonts/PanamaIranic.woff) format('woff'), url(~assets/fonts/Panama-Iranic.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "PanamaItalic";
  font-weight: normal;
  src: url(~assets/fonts/PanamaItalic.woff) format('woff'), url(~assets/fonts/Panama-Italic.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "PanamaBold";
  font-weight: normal;
  src: url(~assets/fonts/Panama-Bold.woff) format('woff'), url(~assets/fonts/Panama-Bold.woff) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "OstiaAntica";
  font-weight: normal;
  src: url(~assets/fonts/Ostia_Antica_WEB-Regular.woff) format('woff'), url(~assets/fonts/Ostia_Antica_WEB-Regular.woff2) format('woff2'), url(~assets/fonts/OstiaAntica-Regular.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "OstiaAntica";
  font-weight: 300;
  src: url(~assets/fonts/Ostia_Antica_WEB-Light.woff) format('woff'), url(~assets/fonts/Ostia_Antica_WEB-Light.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "OstiaAnticaItalic";
  font-weight: normal;
  src: url(~assets/fonts/Ostia_Antica_WEB-Italic.woff) format('woff'), url(~assets/fonts/Ostia_Antica_WEB-Italic.woff2) format('woff2'), url(~assets/fonts/OstiaAntica-Italic.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "OstiaAnticaItalicLight";
  src: url(~assets/fonts/Ostia_Antica_WEB-Light_Italic.woff) format('woff'), url(~assets/fonts/Ostia_Antica_WEB-Light_Italic.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'FK Screamer';
  font-weight: 500;
  font-display: swap;
  src: url(~assets/fonts/FKScreamer-Medium.woff) format('woff'), url(~assets/fonts/FKScreamer-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Blitz';
  font-weight: 200;
  font-display: swap;
  src: url(~assets/fonts/BlitzScript-Web.woff) format('woff'), url(~assets/fonts/BlitzScript-Web.woff2) format('woff2');
}

@font-face {
  font-family: 'Tiny';
  font-weight: 160;
  font-display: swap;
  src: url(~assets/fonts/TINY5x3-160.woff) format('woff'), url(~assets/fonts/TINY5x3-160.woff2) format('woff2');
}

html,
body {
  @apply bg-black antialiased scroll-smooth;
  cursor: none;
}

html.no-scroll,
html.no-scroll body {
  @apply h-screen overflow-hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-variant-ligatures: none;
}

a,
button {
  font-variant-ligatures: none;
}

.feature-heading,
.feature-heading-alt {
  @apply text-4xl md:text-5xl lg:text-6xl xl:text-8xl font-medium;

  font-variant-ligatures: none;
}

.feature-heading-alt {
  @apply font-serif_italic_alt font-normal;
}

.page-enter-active,
.page-leave-active {
  @apply transition-all duration-500 motion-reduce:transition-none;
}

.page-enter,
.page-leave-to {
  @apply transform motion-reduce:transform-none;
}

.page-enter,
.page-leave-to {
  @apply scale-105 opacity-0 motion-reduce:opacity-100;
}

.fade-in-up-enter-active,
.fade-in-up-leave-active {
  @apply transition-all duration-500 motion-reduce:transition-none;
}

.fade-in-up-enter,
.fade-in-up-leave-to {
  @apply transform motion-reduce:transform-none;
}

.fade-in-up-enter,
.fade-in-up-leave-to {
  @apply translate-y-4 opacity-0 motion-reduce:opacity-100;
}

.fade-in-down-enter-active,
.fade-in-down-leave-active {
  @apply transition-all duration-500 motion-reduce:transition-none;
}

.fade-in-down-enter,
.fade-in-down-leave-to {
  @apply transform motion-reduce:transform-none;
}

.fade-in-down-enter,
.fade-in-down-leave-to {
  @apply -translate-y-4 opacity-0 motion-reduce:opacity-100;
}

.fade-in-down-seen-enter-active,
.fade-in-down-seen-leave-active {
  @apply transition-all duration-500 motion-reduce:transition-none;
}

.fade-in-down-seen-enter-active {
  @apply delay-500;
}

.fade-in-down-seen-enter,
.fade-in-down-seen-leave-to {
  @apply transform motion-reduce:transform-none;
}

.fade-in-down-seen-enter,
.fade-in-down-seen-leave-to {
  @apply translate-y-full opacity-0 motion-reduce:opacity-100;
}

.slide-down-enter-active,
.slide-down-leave-active {
  @apply transition-all duration-500 motion-reduce:transition-none;
}

.slide-down-enter,
.slide-down-leave-to {
  @apply transform -translate-y-full motion-reduce:transform-none;
}

.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity opacity-100 duration-500 motion-reduce:transition-none;
}

.fade-enter,
.fade-leave-to {
  @apply opacity-0 motion-reduce:opacity-100;
}

button,
a {
  cursor: pointer;
}

.scroll-snap {
  scroll-snap-type: y mandatory;
}

.scroll-snap-start {
  scroll-snap-align: start;
}

#site-wrapper {
  transform: translate3d(0, 0, 0);
}

.aspect-cover-img {
  @apply block relative;
}

.aspect-cover-img::before {
  display: block;
  padding-top: 56%;
  content: " ";
}

.cover-image img,
.aspect-cover-img img {
  @apply absolute top-0 left-0 w-full h-full object-cover block;
}

.contained-image img {
  @apply absolute top-0 left-0 w-full h-full object-contain block;
}

.shadow-image img {
  @apply w-auto h-full max-w-none xl:w-full xl:h-auto xl:max-w-xl shadow-lg shadow-black/50 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.secondary-heading {
  @apply font-medium text-xl md:text-2xl lg:text-3xl 2xl:text-4xl;

  font-variant-ligatures: none;
}

.fade-colours {
  @apply transition-colors duration-500 ease-linear motion-reduce:transition-none;
}

.pill-link:hover {
  @apply font-serif_italic;
}

html.is-touch,
html.is-touch body {
  cursor: auto;
}

html.is-touch button,
html.is-touch a {
  cursor: pointer;
}

@media (hover: none) and (pointer: coarse) {
  html,
  body {
    cursor: auto;
  }

  button,
  a {
    cursor: pointer;
  }
}

.eventive-widget-container * {
  box-shadow: none !important;
}

.eventive-widget-container {
  cursor: auto;
}

.eventive-widget-container h2 {
  line-height: normal;
}

.eventive-widget-container button,
.eventive-widget-container a {
  cursor: pointer;
}

.takeover-link {
  @apply w-full h-full absolute top-0 left-0 z-20;
}

.takeover-link a,
.takeover-link button {
  @apply block w-full h-full;
}

@media (prefers-reduced-motion) {
  .parallax-shape {
    display: none !important;
  }
}

.sticky-cta {
  @apply sticky top-96 z-40 pointer-events-none;
}

.eventive-widget-container a:link,
.eventive-widget-container a:visited,
.eventive-widget-container a:focus {
  @apply text-black;
}

.eventive-widget-container div[data-iframe-height] > div {
  background: #ffffff !important;
  color: #000000 !important;
  box-shadow: none !important;
  border: none;
  border-radius: 1.5rem !important;
}

.eventive-widget-container div[data-iframe-height] > div form input {
  color: #000 !important;
}

.eventive-widget-container div[data-iframe-height] > div > div > div > div h2 {
  @apply font-sans;
  font-size: 2rem !important;
  font-weight: 500 !important;
  color: #000 !important;
}

.eventive-widget-container #Eventive--orderSummary--orderSuccess h2 {
  white-space: normal !important;
  line-height: 1 !important;
  margin: 1rem 0 !important;
}

.eventive-widget-container #Eventive--orderSummary--orderSuccess h2 > span {
  line-height: 1;
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.eventive-widget-container div[data-iframe-height] button {
  border: 1px solid #000000;
  border-radius: 9999px !important;
  height: auto !important;
  box-shadow: none !important;
  line-height: 1.75 !important;
  background: transparent !important;
  margin-bottom: 1rem !important;
}


.eventive-widget-container div[data-iframe-height] button > div > div:not(.parallax-content) {
  height: auto !important;
  box-shadow: none !important;
  line-height: 2rem !important;
  @apply font-sans font-normal;
  overflow: hidden !important;
  color: #000 !important;
  background: #FED4E2 !important;
  border: none !important;
  border-radius: 9999px !important;
  font-size: 0.9rem !important;

@screen xl {
  padding: 0.5rem !important;
  font-size: 1.25rem !important;
}
}

.eventive-widget-container div[data-iframe-height] .Eventive--Checkout div div {
  box-shadow: none !important;
  background: transparent !important;
}

.eventive-widget-container div[data-iframe-height] button > div > div:not(.parallax-content) > span {
  color: #000 !important;
  text-transform: none !important;
  font-weight: 500 !important;

@screen xl {
  font-size: 1.25rem !important;
}
}

.eventive-widget-container div[data-iframe-height] button:hover > div > div:not(.parallax-content) {
  background: #F2F2F2 !important;
  color: #000 !important;
}

.eventive-widget-container div[data-iframe-height] button:hover > div > div:not(.parallax-content) > span {
  color: #000 !important;
}

.eventive-widget-container div[data-iframe-height] button[disabled] > div,
.eventive-widget-container div[data-iframe-height] button[disabled] > div > span {
  background: #000 !important;
  color: #fff !important;
  border-radius: 9999px !important;
  border: 1px solid #000 !important;
  height: auto !important;
  box-shadow: none !important;
  line-height: 2rem !important;
  opacity: 0.5 !important;
  text-transform: none !important;

@screen xl {
  padding: 0.45rem 1rem !important;
  font-size: 1.25rem !important;
}
}

.listing-grid {
  @apply flex justify-start flex-wrap -mx-3 md:-mx-6 xl:-mx-12 relative;
}

.listing-grid__item {
  @apply w-full px-3 md:px-6 xl:px-12 sm:w-1/2 lg:w-1/3 mb-12 max-w-full relative z-10;
}

.listing-grid--lg .listing-grid__item {
  @apply lg:w-1/2;
}

.listing-grid--sm {
  @apply -mx-0.5 md:-mx-1 xl:-mx-2 relative;
}

.listing-grid--sm .listing-grid__item {
  @apply w-1/2 sm:w-1/3 lg:w-1/4 2xl:w-1/5 px-0.5 md:px-1 xl:px-2;
}

.italised {
  @apply font-festival_sans
}

.italised em,
.italised i {
  @apply font-festival_sans_light_italic;
}


.search-toggle {
  @apply flex items-center justify-center w-10 h-10 bg-navy text-beige rounded-full;
}

.search-toggle svg {
  @apply w-5 h-5 block;
}

.dot {
  @apply inline-block rounded-full w-5 h-5 bg-purple mx-2 leading-none -mb-1;
}

.site-wrapper--bsf11 .dot {
  @apply bg-bsf11Purple;
}

.swiper-button-disabled {
  @apply pointer-events-none text-black;
}

.disabled-gray .swiper-button-disabled {
  @apply text-gray opacity-50;
}

.video-embed {
  @apply w-full h-full;
}

.video-embed iframe {
  @apply object-cover w-full h-full;
}

.Select {
  position: relative;
}

.eventive-widget-container .Select input::-webkit-contacts-auto-fill-button, .eventive-widget-container .Select input::-webkit-credentials-auto-fill-button {
  display: none !important;
}

.eventive-widget-container .Select input::-ms-clear, .eventive-widget-container .Select input::-ms-reveal {
  display: none !important;
}

.eventive-widget-container .Select, .eventive-widget-container .Select div, .eventive-widget-container .Select input, .eventive-widget-container .Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.eventive-widget-container .Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
  opacity: .35;
}

.eventive-widget-container .Select.is-disabled > .Select-control {
  background-color: #fff;
}

.eventive-widget-container .Select.is-disabled > .Select-control:hover {
  box-shadow: none;
}

.eventive-widget-container .Select.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #fff #ccc #fff;
}

.eventive-widget-container .Select.is-open > .Select-control .Select-arrow {
  top: -2px;
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.eventive-widget-container .Select.is-searchable.is-focused:not(.is-open) > .Select-control, .eventive-widget-container .Select.is-searchable.is-open > .Select-control {
  cursor: text;
}

.eventive-widget-container .Select.is-focused > .Select-control {
  background: #fff;
}

.eventive-widget-container .Select.is-focused:not(.is-open) > .Select-control {
  border-color: #000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 3px rgba(0, 0, 0, .1);
  background: #fff;
}

.eventive-widget-container .Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
  padding-right: 42px;
}

.eventive-widget-container .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label, .eventive-widget-container .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label {
  color: #333;
}

.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label, .Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}

.eventive-widget-container .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus, .eventive-widget-container .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover, .eventive-widget-container .Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus, .eventive-widget-container .Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover {
  color: #000;
  outline: none;
  text-decoration: underline;
}

.eventive-widget-container .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus, .eventive-widget-container .Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  background: #fff;
}

.eventive-widget-container .Select.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}

.eventive-widget-container .Select.is-open .Select-arrow, .eventive-widget-container .Select .Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666;
}

.eventive-widget-container .Select.Select--rtl {
  direction: rtl;
  text-align: right;
}

.eventive-widget-container .Select-control {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.eventive-widget-container .Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, .06);
}

.eventive-widget-container .Select-control .Select-input:focus {
  outline: none;
  background: #fff;
}

.eventive-widget-container .Select--single > .Select-control .Select-value, .eventive-widget-container .Select-placeholder {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.eventive-widget-container .Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.eventive-widget-container .Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 17px;
  padding: 8px 0 12px;
  -webkit-appearance: none;
}

.eventive-widget-container .is-focused .Select-input > input {
  cursor: text;
}

.eventive-widget-container .has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}

.eventive-widget-container .Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}

.eventive-widget-container .Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  text-align: center;
}

.eventive-widget-container .Select-loading, .eventive-widget-container .Select-loading-zone {
  position: relative;
  vertical-align: middle;
  width: 16px;
}

.eventive-widget-container .Select-loading {
  -webkit-animation: Select-animation-spin .4s infinite linear;
  -o-animation: Select-animation-spin .4s infinite linear;
  animation: Select-animation-spin .4s infinite linear;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
}

.eventive-widget-container .Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn .2s;
  -o-animation: Select-animation-fadeIn .2s;
  animation: Select-animation-fadeIn .2s;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px;
}

.eventive-widget-container .Select-clear-zone:hover {
  color: #d0021b;
}

.eventive-widget-container .Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}

.eventive-widget-container .Select--multi .Select-clear-zone {
  width: 17px;
}

.eventive-widget-container .Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}

.eventive-widget-container .Select--rtl .Select-arrow-zone {
  padding-right: 0;
  padding-left: 5px;
}

.eventive-widget-container .Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
  position: relative;
}

.eventive-widget-container .Select-control > :last-child {
  padding-right: 5px;
}

.eventive-widget-container .Select--multi .Select-multi-value-wrapper {
  display: inline-block;
}

.eventive-widget-container .Select .Select-aria-only {
  position: absolute;
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  float: left;
}

@-webkit-keyframes Select-animation-fadeIn {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes Select-animation-fadeIn {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.eventive-widget-container .Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}

.eventive-widget-container .Select-menu {
  max-height: 198px;
  overflow-y: auto;
}

.eventive-widget-container .Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.eventive-widget-container .Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.eventive-widget-container .Select-option.is-selected {
  background-color: #fff;
  background-color: rgba(0, 0, 0, .04);
  color: #333;
}

.eventive-widget-container .Select-option.is-focused {
  background-color: #fff;
  background-color: rgba(0, 0, 0, .08);
  color: #333;
}

.eventive-widget-container .Select-option.is-disabled {
  color: #ccc;
  cursor: default;
}

.eventive-widget-container .Select-noresults {
  box-sizing: border-box;
  color: #999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

.eventive-widget-container .Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0;
}

.eventive-widget-container .Select--multi.Select--rtl .Select-input {
  margin-left: 0;
  margin-right: 10px;
}

.eventive-widget-container .Select--multi.has-value .Select-input {
  margin-left: 5px;
}

.eventive-widget-container .Select--multi .Select-value {
  background-color: #fff;
  background-color: rgba(0, 0, 0, .08);
  border-radius: 2px;
  border: 1px solid #fff;
  border: 1px solid rgba(0, 0, 0, .24);
  color: #000;
  display: inline-block;
  font-size: .9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}

.eventive-widget-container .Select--multi .Select-value-icon, .eventive-widget-container .Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
}

.eventive-widget-container .Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}

.eventive-widget-container .Select--multi a.Select-value-label {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.eventive-widget-container .Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}

.eventive-widget-container .Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #0000;
  border-right: 1px solid rgba(0, 0, 0, .24);
  padding: 1px 5px 3px;
}

.eventive-widget-container .Select--multi .Select-value-icon:focus, .eventive-widget-container .Select--multi .Select-value-icon:hover {
  background-color: #fff;
  background-color: rgba(0, 0, 0, .08);
  color: #0000;
}

.eventive-widget-container .Select--multi .Select-value-icon:active {
  background-color: #fff;
  background-color: rgba(0, 0, 0, .24);
}

.eventive-widget-container .Select--multi.Select--rtl .Select-value {
  margin-left: 0;
  margin-right: 5px;
}

.eventive-widget-container .Select--multi.Select--rtl .Select-value-icon {
  border-right: none;
  border-left: 1px solid #fff;
  border-left: 1px solid rgba(0, 0, 0, .24);
}

.eventive-widget-container .Select--multi.is-disabled .Select-value {
  background-color: #000;
  border: 1px solid #0000;
  color: #333;
}

.eventive-widget-container .Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #000;
}

.eventive-widget-container .Select--multi.is-disabled .Select-value-icon:active, .eventive-widget-container .Select--multi.is-disabled .Select-value-icon:focus, .eventive-widget-container .Select--multi.is-disabled .Select-value-icon:hover {
  background-color: #000;
}

@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}

@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
