.sponsor a,
.sponsor-img .sponsor-img__img {
  @apply flex w-auto h-28 justify-center items-center;
  max-width: 15rem;
}

.sponsor a img,
.sponsor-img .sponsor-img__img > img {
  @apply block w-full h-auto;
  max-height: 7rem;
  max-width: 15rem;
}
