
@font-face {
  font-family: "OstiaAntica";
  font-weight: normal;
  src: url(fonts/Ostia_Antica_WEB-Regular.woff) format('woff'),  url(fonts/Ostia_Antica_WEB-Regular.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "OstiaAntica";
  font-weight: 300;
  src: url(fonts/Ostia_Antica_WEB-Light.woff) format('woff'),  url(fonts/Ostia_Antica_WEB-Light.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "OstiaAnticaItalic";
  font-weight: normal;
  src:  url(fonts/Ostia_Antica_WEB-Italic.woff) format('woff'),  url(fonts/Ostia_Antica_WEB-Italic.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "OstiaAnticaItalicLight";
  src:  url(fonts/Ostia_Antica_WEB-Light_Italic.woff) format('woff'),  url(fonts/Ostia_Antica_WEB-Light_Italic.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Matter";
  font-weight: 500;
  src:  url(fonts/MatterSQ-Medium.woff) format("woff"), url(fonts/MatterSQ-Medium.woff2) format("woff2"), url(fonts/Matter-Medium.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "TriptychItalic";
  font-weight: normal;
  src: url(fonts/Triptych-Italick.woff) format('woff'), url(fonts/Triptych-Italick.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: 'FK Screamer';
  font-weight: 500;
  font-display: swap;
  src:  url(fonts/FKScreamer-Medium.woff) format('woff'),  url(fonts/FKScreamer-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Blitz';
  font-weight: 200;
  font-display: swap;
  src:  url(fonts/BlitzScript-Web.woff) format('woff'),  url(fonts/BlitzScript-Web.woff2) format('woff2');
}
