body {
  --font-italic: "OstiaAnticaItalic", sans-serif;
  --font-light-italic: "OstiaAnticaItalicLight", sans-serif;
  --font-org: "Matter", sans-serif;
  --font-org-alt: "TriptychItalic", serif;
  --color-text: #000000;
  --color-beige: #EDE2D5;
  --color-yellow: #FCBB3F;
  --color-lime: #3EFB6E;
}

body.template-product--seen,
body.template-collection--seen {
  --color-border: #000;
  --font-stack-header: "Matter", sans-serif;
  --font-weight-header: 500;
  --font-stack-body: "Matter", sans-serif;
  --font-weight-body: 400;
  --font-italic: "TriptychItalic", serif;
  --font-light-italic: "TriptychItalic", serif;
  --color-btn-primary: #000;

}

/* Buttons */

.btn,
.shopify-payment-button .shopify-payment-button__button--unbranded {
  border: 5px solid var(--color-border);
  color: var(--color-border);
  background-color: var(--color-btn-primary);
  padding: 0.75rem 1.5rem;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 0.9rem;
  border-radius: 0;
}

.btn:hover,
.shopify-payment-button .shopify-payment-button__button--unbranded:hover {
  font-family: var(--font-italic);
}

.btn--secondary-accent {
  background-color: #FFF;
}

.shopify-payment-button__button.shopify-payment-button__button--unbranded {
  background-color: var(--color-yellow);
}

.btn.btn--share {
  border: 0;
  background-color: var(--color-beige);
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-border);
  padding: 0;
  border: 0;
}

.btn--share .icon {
  margin-left: auto;
  margin-right: auto;
}

.btn--share .share-title {
  display: none;
}

.btn.btn--share:hover {
  background-color: var(--color-beige);
}

.template-product--seen .btn.btn--share {

  background-color: #eee !important;
}


/* Header */

.site-header,
.site-header__mobile-nav {
  background-color: var(--color-btn-primary);
}

.template-product--seen .site-header,
.template-collection--seen .site-header, .template-product--seen .site-header__mobile-nav,
.template-collection--seen .site-header__mobile-nav {
  background: #eee;
}

.site-header {
  border-bottom: none;
}

#shopify-section-header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.site-header__inside {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0.75rem 2rem;
  font-weight: normal;
}

@media only screen and (max-width: 1240px) {
  .site-header__inside {
    padding: 0.5rem 0;
  }
}

@media only screen and (max-width: 749px) {
  .site-header__cart-count span {
    background: var(--color-yellow);
    border-radius: 100%;
  }
}

.site-nav {
  text-align: left;
}

.site-nav__link {
  font-size: 1rem;
}

.site-nav__link--active .site-nav__label,
.site-nav__link:focus .site-nav__label,
.site-nav__link:not([disabled]):hover .site-nav__label {
  font-family: var(--font-italic);
  border-bottom: none;
  color: #000;
}


.site-nav__dropdown {
  border-width: 5px;
}

@media only screen and (max-width: 1600px) {
  .site-header__logo-image img {
    max-width: 150px !important;
  }
}

.site-header__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.site-header__icons-wrapper {
  background-color: var(--color-border);
  border-radius: 2rem;
  width: auto;
  padding: 0 0.75rem;
}

.site-header__icon {
  color: var(--color-beige) !important;
}

.site-header__icon:hover {
  color: var(--color-btn-primary) !important;
}

@media only screen and (max-width: 749px) {
  .site-header__icons {
    padding-right: 0;
  }

  .site-header__icons-wrapper {
    padding: 0;
    background-color: transparent;
  }

  .site-header__icon {
    color: var(--color-border) !important;
  }

  .site-header__icon:hover {
    color: var(--color-border) !important;
  }
}


/* Footer */
.site-footer,
.site-footer .h4 {
  font-family: var(--font-org);
  font-weight: 500;
}

.site-footer .h4 {
  font-size: 1.8rem;
}

.site-footer__item-inner--newsletter .newsletter__input {
  border: 4px dotted white;
  border-radius: 10rem;
  background-color: #000;
  color: #FFF;
  font-family: var(--font-org);
  font-weight: 500;
}

.site-footer__item-inner--newsletter .newsletter__input:focus {
  outline: none;
  box-shadow: none;
}

.site-footer__item-inner--newsletter .newsletter__input::placeholder {
  color: #FFF;
}

.site-footer__item-inner--newsletter .btn {
  border: 0;
  border-radius: 10rem;
  background-color: #FFF !important;
  color: #000 !important;
  font-family: var(--font-org) !important;
  font-weight: 500;
  margin-left: 1rem;
}

@media only screen and (max-width: 749px) {
  .site-footer__item-inner--newsletter .btn {
    margin-left: 0;
    margin-top: 1rem;
  }
}

.site-footer__newsletter .form-message {
  background-color: #000 !important;
  color: #FFF !important;
  border: 0 !important;
  font-family: var(--font-org-alt) !important;
  font-size: 1.2rem;
}

.site-footer__newsletter .form-message:focus-visible {
  outline: none;
  color: var(--color-btn-primary);
}


.site-footer__legal {
  border-top: 5px dotted white;
  padding-top: 1rem;
  font-family: var(--font-org-alt);
}

.site-footer__linklist-item {
  padding: 0 !important;
}

.site-footer__linklist-item a {
  font-size: 1.8rem;
}

.site-footer__rte a:hover,
.site-footer__linklist-item a:hover,
.site-footer__copyright-content a:hover {
  border-bottom: none !important;
}

.site-footer__linklist {
  display: block;
}


@-webkit-keyframes colorCycleFestival {
  0% {
    background: #fff
  }
  15% {
    background: #fc63a3
  }
  30% {
    background: #febc2c
  }
  45% {
    background: #0f32c9
  }
  60% {
    background: #ff2f16
  }
  75% {
    background: #2dfd66
  }
  to {
    background: #fff
  }
}

@keyframes colorCycleFestival {
  0% {
    background: #fff
  }
  15% {
    background: #fc63a3
  }
  30% {
    background: #febc2c
  }
  45% {
    background: #0f32c9
  }
  60% {
    background: #ff2f16
  }
  75% {
    background: #2dfd66
  }
  to {
    background: #fff
  }
}


.site-footer__linklist::before {
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  background: #FFF;
  content: " ";
  -webkit-animation: colorCycleFestival 15s linear infinite;
  animation: colorCycleFestival 15s linear infinite;
  margin-bottom: 2rem;
}

/* Product Archive */

.template-collection .main-content {
  padding-top: 0 !important;
}

.product-card__image-with-placeholder-wrapper {
  background: #000;
}

.product-card__image-with-placeholder-wrapper > div {
  background: #FFF;
}

.product-card__image-wrapper {
  margin-bottom: 0;
}

.product-card__title {
  display: block;
  border: 5px solid var(--color-border);
  padding: 1rem 0.5rem;
  background: #FFF;
}

.product-card .price.price--listing, .product-single .product__price {
  font-family: var(--font-light-italic);
  font-size: 1.2rem;
  margin-top: 1rem;
}

.select-label {
  text-transform: none;
}

.collection-header {
  padding-top: 0.5rem;
  background: var(--color-lime);
}

.collection-header .filters-toolbar-wrapper {
  background: #FFF;
}

.collection-header .section-header {
  margin: 3rem 0 !important;
  background: var(--color-beige);
  border: 5px solid var(--color-border);
  text-align: left !important;
  padding: 2rem 3rem;
  color: var(--color-border);
}

.collection-header .section-header h1 {
  margin-bottom: 0;
}

.template-collection--seen .collection-header {
  background: #000;
}

.template-collection--seen .collection-header .section-header {

  border: 0;
  color: #FFF;
  background: transparent;
}

.template-collection--seen .collection-header .section-header .rte, .template-collection--seen .collection-header .section-header .rte a {
  color: #FFF;
}

/* Single Product */

.product-single__title {
  display: inline-block;
  border: 5px solid var(--color-border);
  padding: 1rem 0.5rem;
}

.product-single__media {
  background: #FFF;
}

.product-form--payment-button-no-variants {
  max-width: 100%;
}

[data-product] .sls-purchase-options-container {
  border: 5px solid var(--color-border) !important;
  border-radius: 0 !important;
  border-bottom: 0 !important;
}

.sealsubs-container .sls-purchase-options-container .sls-option-container,
.sealsubs-container .sls-purchase-options-container .sls-option-container.sls-active {
  border-bottom: 5px solid var(--color-border) !important;
}

.sealsubs-container label {
  font-weight: 300 !important;
  font-size: 1.2rem !important;
  color: var(--color-border) !important;
}

.sls-price-container .sls-price {
  font-size: 1.2rem;
  font-family: var(--font-italic);
  color: var(--color-border) !important;
}

.sls-selling-plan-group-first-line {
  position: relative;
}

.sls-selling-plan-group-first-line .sls-custom-radio {
  position: absolute;
  pointer-events: none;
  width: 1rem;
  height: 1rem;
  display: block;
  border-radius: 100%;
  border: 2px solid var(--color-border);
  background: #FFF;
  margin-top: -1px;
  margin-left: -1px;
}


.sls-selling-plan-group-first-line input:checked + .sls-custom-radio {
  background: var(--color-yellow);
}

@media only screen and (max-width: 749px) {
  .sealsubs-container label,
  .sls-price-container .sls-price {
    font-size: 0.9rem !important;
  }
}

.product-recommendations__inner {
  background: var(--color-yellow);
  border: 5px solid var(--color-border);
  padding: 0 1rem 2rem !important;
  margin-top: 2rem;
}

.product-recommendations__inner .section-header {
  text-align: left;
  display: flex;
  justify-content: start;
  margin-left: -1rem;
}

.product-recommendations__inner .section-header h2 {
  display: block;
  background: #FFF;
  border: 5px solid var(--color-border);
  margin-top: -5px;
  margin-left: -5px;
  width: 100%;
  max-width: 25rem;
  padding: 1.5rem 2rem;
  text-transform: none;
  text-align: left;
  font-family: var(--font-italic);
}

.template-product--seen .product-recommendations__inner {
  background: #FFF;
  border: 0;
}


.template-product--seen .product-recommendations__inner .section-header {
  margin-left: 0;
}

.template-product--seen .product-recommendations__inner .section-header h2 {
  margin-left: 0;
  margin-top: 0;
}

.template-product--seen .btn, .template-product--seen .shopify-payment-button .shopify-payment-button__button--unbranded {
  background: #000 !important;
  color: #FFF !important;
}

@media only screen and (max-width: 749px) {

  #shopify-section-product-recommendations {
    background: var(--color-yellow);
    padding: 3rem 0;
    margin-top: 2rem;
  }

  .product-recommendations__inner {
    padding: 0 !important;
    border: 0;
  }

  .product-recommendations__inner .section-header {
    margin-left: 0;
  }
}

/* Forms */

select, input, textarea {
  border: 5px solid var(--color-border);
  border-radius: 0;
  font-weight: 500;
  outline: 0 !important;
}

/* Cart */

.cart-popup-wrapper {
  border: 5px solid var(--color-border);
}

.cart-popup {
  box-shadow: none;
}

/* Home */

#shopify-section-feature-columns .h4 {
  display: block;
  border: 5px solid var(--color-border);
  padding: 1rem 0.5rem;
  background: #FFF;
}

.feature-row__image-wrapper {
  margin-bottom: 0;
}

.hero .mega-subtitle, .hero .mega-subtitle p, .hero .mega-title {
  text-shadow: none;
  color: var(--color-border);
  max-width: 100% !important;
}

.hero__inner > div {
  border: 5px solid var(--color-border);
  background: var(--color-beige);
  text-align: left !important;
  padding: 2rem 3rem;
}

.hero .mega-subtitle p {
  font-size: 1.5rem;
  font-family: var(--font-light-italic);
}

@media only screen and (max-width: 749px) {
  .hero__inner > div {
    padding: 1.5rem;
  }

  .hero__inner {
    padding: 1.5rem;
  }
}
