$c-pink: #17FFDF;
$c-navy: #000;
$c-beige: #fff;
$c-yellow: #FFFF00;
$c-red: #ff2f16;
$c-green: #2dfd66;
$c-blue: #554FF0;
$c-white: #ffffff;
$c-black: #000000;
$c-purple: #554FF0;
$c-teal: #17FFDF;

$font: "Matter", sans-serif;
$fontItalic: "Blitz", cursive;
$fontBold: "FK Screamer", sans-serif;
