/*
.eventive__button {
  background-color: #1a243b
}

.eventive__button:hover {
  background-color: #2eff66
}

.eventive__button:focus {
  background-color: #ebe2d6
}

.eventive__button.eventive__button__disabled, .eventive__button.eventive__button__disabled:focus, .eventive__button.eventive__button__disabled:hover {
  opacity: .75
}


.slider-up-background, .slider-down-background {
  display: none;
}*/
