.eventive__button {
  @include border;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  font-weight: 500 !important;
  text-transform: capitalize;

  &:focus {
    box-shadow: none;
  }

  svg {
    display: none;
  }

  &.bg-indigo-600 {
    background: $c-yellow;
    color: $c-black;

    &:hover {
      background: $c-beige;
      color: $c-black;
    }
  }

  &.bg-reverse,
  &.bg-indigo-400 {
    background: $c-beige;
    color: $c-black;

    &:hover {
      background: $c-black;
      color: $c-yellow;
    }
  }
}
