$c-pink: #fc63a3;
$c-navy: #1a243b;
$c-beige: #ede2d5;
$c-yellow: #febc2c;
$c-red: #ff2f16;
$c-green: #2dfd66;
$c-blue: #0f32c9;
$c-white: #ffffff;
$c-black: #000000;

$font: "Ostia Antica", sans-serif;
$fontItalic: "Ostia Antica Italic", sans-serif;
$fontLight: "Ostia Antica Light", sans-serif;
$fontLightItalic: "Ostia Antica LightItalic", sans-serif;
