@font-face {
  font-family: "Ostia Antica";
  font-weight: normal;
  src: url("fonts/Ostia_Antica_WEB-Regular.woff2") format("woff2"), url("fonts/Ostia_Antica_WEB-Regular.woff") format("woff"), url("fonts/OstiaAntica-Regular.otf") format("opentype"); }
@font-face {
  font-family: "Ostia Antica Italic";
  font-weight: normal;
  font-style: italic;
  src: url("fonts/Ostia_Antica_WEB-Italic.woff2") format("woff2"), url("fonts/Ostia_Antica_WEB-Italic.woff") format("woff"), url(fonts/OstiaAntica-Italic.otf) format("opentype"); }
@font-face {
  font-family: "Ostia Antica Light";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/Ostia_Antica_WEB-Light.woff2") format("woff2"), url("fonts/Ostia_Antica_WEB-Light.woff") format("woff"), url("fonts/OstiaAntica-Light.otf") format("opentype"); }
@font-face {
  font-family: "Ostia Antica LightItalic";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/Ostia_Antica_WEB-Light_Italic.woff2") format("woff2"), url("fonts/Ostia_Antica_WEB-Light_Italic.woff") format("woff"), url(fonts/OstiaAntica-LightItalic.otf) format("opentype"); }
.font-medium,
.font-bold {
  font-weight: normal; }

.color-palette-black {
  --color-palette-gray-900: #1a243b;
  --color-palette-gray-800: #1a243b;
  --color-palette-gray-800-transparent: transparent;
  --color-palette-gray-700: #0f32c9;
  --color-palette-gray-700-transparent: #25252500;
  --color-palette-gray-600: #43434f;
  --color-palette-gray-500: #575757;
  --color-palette-gray-400: #fc63a3;
  --color-palette-gray-300: #ede2d5;
  --color-palette-gray-200: #ede2d5;
  --color-palette-gray-100: #fc63a3;
  --color-palette-white: #fff; }

.rounded,
.rounded-md,
.rounded-lg,
.rounded-xl,
.rounded-b-lg,
.rounded-t-lg {
  border-radius: 0 !important; }

.slider-up-background,
.slider-down-background {
  display: none; }

body .border-gray-700 {
  border-color: #1a243b; }

nav.bg-gray-800 {
  background: #fc63a3;
  color: #1a243b; }
  @media (min-width: 1024px) {
    nav.bg-gray-800 {
      padding: 1rem 0.5rem; } }
  nav.bg-gray-800 a {
    color: #1a243b;
    background: transparent;
    font-size: 1.1rem; }
    nav.bg-gray-800 a:hover, nav.bg-gray-800 a:active, nav.bg-gray-800 a:focus {
      background: transparent; }
  nav.bg-gray-800 .border-b {
    border: none; }
  nav.bg-gray-800 .eventive__logo-container__logo {
    width: 300px !important;
    height: auto !important;
    max-width: 50% !important;
    max-height: none !important; }
    @media (min-width: 1024px) {
      nav.bg-gray-800 .eventive__logo-container__logo {
        max-width: none !important; } }
  nav.bg-gray-800 button {
    background: #1a243b;
    border-radius: 0;
    margin-right: 0.5rem; }
  nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full {
    background: transparent;
    border: none !important; }
    nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full:hover, nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full:focus, nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full:active {
      box-shadow: none !important; }
    nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full > span {
      background: #1a243b; }
  nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white {
    background: #ede2d5; }
    nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white .text-always-gray-500 {
      font-family: "Ostia Antica Light", sans-serif;
      font-weight: 300;
      font-style: normal;
      color: #0f32c9; }
    nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white .text-always-gray-400 {
      font-family: "Ostia Antica LightItalic", sans-serif;
      font-weight: 300;
      font-style: normal;
      color: #0f32c9; }
    nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white a {
      font-size: 1rem; }
      nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white a:hover {
        color: #0f32c9; }
  nav.bg-gray-800 .inline-flex.items-center.justify-center.h-10.w-10.rounded-full.bg-gray-400 {
    background: #1a243b; }
  nav.bg-gray-800 div.text-gray-400 {
    color: #1a243b;
    font-family: "Ostia Antica LightItalic", sans-serif;
    font-weight: 300;
    font-style: normal; }

.bg-gray-800.pb-32 {
  background: transparent; }

html, body {
  background: #1a243b url("images/mobile-bg@2x.png") top left;
  background-size: 100% auto;
  font-family: "Ostia Antica", sans-serif;
  line-height: 1.75; }
  @media (min-width: 768px) {
    html, body {
      background: #1a243b url("images/bg@2x.png") top left;
      background-size: 100% auto; } }

nav.bg-gray-800 {
  background: #fc63a3;
  color: #1a243b; }
  @media (min-width: 1024px) {
    nav.bg-gray-800 {
      padding: 1rem 0.5rem; } }
  nav.bg-gray-800 a {
    color: #1a243b;
    background: transparent;
    font-size: 1.1rem; }
    nav.bg-gray-800 a:hover, nav.bg-gray-800 a:active, nav.bg-gray-800 a:focus {
      background: transparent; }
  nav.bg-gray-800 .border-b {
    border: none; }
  nav.bg-gray-800 .eventive__logo-container__logo {
    width: 300px !important;
    height: auto !important;
    max-width: 50% !important;
    max-height: none !important; }
    @media (min-width: 1024px) {
      nav.bg-gray-800 .eventive__logo-container__logo {
        max-width: none !important; } }
  nav.bg-gray-800 button {
    background: #1a243b;
    border-radius: 0;
    margin-right: 0.5rem; }
  nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full {
    background: transparent;
    border: none !important; }
    nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full:hover, nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full:focus, nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full:active {
      box-shadow: none !important; }
    nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full > span {
      background: #1a243b; }
  nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white {
    background: #ede2d5; }
    nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white .text-always-gray-500 {
      font-family: "Ostia Antica Light", sans-serif;
      font-weight: 300;
      font-style: normal;
      color: #0f32c9; }
    nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white .text-always-gray-400 {
      font-family: "Ostia Antica LightItalic", sans-serif;
      font-weight: 300;
      font-style: normal;
      color: #0f32c9; }
    nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white a {
      font-size: 1rem; }
      nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white a:hover {
        color: #0f32c9; }
  nav.bg-gray-800 .inline-flex.items-center.justify-center.h-10.w-10.rounded-full.bg-gray-400 {
    background: #1a243b; }
  nav.bg-gray-800 div.text-gray-400 {
    color: #1a243b;
    font-family: "Ostia Antica LightItalic", sans-serif;
    font-weight: 300;
    font-style: normal; }

.bg-gray-800.pb-32 {
  background: transparent; }

nav + header h2.text-gray-400, nav + header h3.text-white {
  color: #ede2d5; }
nav + header h3 {
  font-family: "Ostia Antica LightItalic", sans-serif;
  font-weight: 300;
  font-style: normal; }

.scrollbarred .block.shadow.shadow-outline-gray {
  box-shadow: none;
  border: none; }
  .scrollbarred .block.shadow.shadow-outline-gray .inline-flex.rounded-full.text-red-800.bg-red-100 {
    background: transparent;
    padding: 0;
    border-radius: 0;
    color: #febc2c;
    font-weight: normal;
    font-family: "Ostia Antica", sans-serif;
    border-bottom: 2px solid #febc2c; }
.scrollbarred > a {
  border-width: 5px;
  box-shadow: none;
  border-color: #0f32c9; }
  .scrollbarred > a:hover {
    border-color: #fc63a3;
    box-shadow: none; }
.scrollbarred .text-sm {
  font-family: "Ostia Antica Light", sans-serif;
  font-weight: 300;
  font-style: normal; }

.tenant-injected-html {
  padding: 2rem 0;
  font-family: "Ostia Antica Light", sans-serif;
  font-weight: 300;
  font-style: normal; }

ul li {
  margin-bottom: 1.5rem; }
  ul li .text-gray-400.leading-5.mt-3.uppercase.text-xs {
    margin-bottom: 0.5rem;
    text-transform: none;
    font-size: 1.1rem;
    font-family: "Ostia Antica LightItalic", sans-serif;
    font-weight: 300;
    font-style: normal; }
    ul li .text-gray-400.leading-5.mt-3.uppercase.text-xs + div.text-gray-300 {
      font-family: "Ostia Antica Light", sans-serif;
      font-weight: 300;
      font-style: normal; }

.rounded-full.inline-flex.bg-gray-700 + span > span {
  color: #febc2c;
  border-bottom: 2px solid #febc2c;
  background: transparent;
  border-radius: 0;
  padding: 0;
  font-size: 1rem;
  min-height: 0 !important; }

.mb-5.text-gray-300.text-sm.flex.items-center a.underline {
  font-family: "Ostia Antica LightItalic", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none; }

.rounded-full.inline-flex.bg-gray-700:not(.whitespace-no-wrap) {
  background: #ff2f16;
  color: #ede2d5;
  font-size: 2rem;
  padding: 1rem;
  min-height: 90px !important;
  border-radius: 90%; }

.rounded-full.inline-flex.bg-gray-700.whitespace-no-wrap {
  color: #febc2c;
  border-bottom: 2px solid #febc2c;
  background: transparent;
  border-radius: 0;
  padding: 0;
  min-height: 0 !important; }

.rounded-t-lg.overflow-hidden.top-0.left-0.right-0 {
  background: #ede2d5 !important;
  border-bottom: 5px solid #1a243b; }
  .rounded-t-lg.overflow-hidden.top-0.left-0.right-0 .text-always-white {
    color: #1a243b; }
    .rounded-t-lg.overflow-hidden.top-0.left-0.right-0 .text-always-white:not(.font-bold) {
      font-family: "Ostia Antica Light", sans-serif;
      font-weight: 300;
      font-style: normal; }

.slider-down-background + div {
  bottom: -0.5rem; }

.absolute.bottom-2.left-0.right-0.flex.justify-center.z-10 {
  justify-content: flex-start; }
  .absolute.bottom-2.left-0.right-0.flex.justify-center.z-10 span.bg-gray-300.text-gray-800 {
    color: #febc2c;
    border-bottom: 2px solid #febc2c;
    background: transparent;
    border-radius: 0;
    padding: 0;
    font-size: 1rem; }

.mb-4.border.border-gray-600.bg-gray-700.rounded.p-4 {
  border: none;
  text-align: center !important;
  font-family: "Ostia Antica Light", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 0.5rem 1rem; }
  .mb-4.border.border-gray-600.bg-gray-700.rounded.p-4 .ml-4 {
    margin-left: auto;
    margin-right: auto; }
  .mb-4.border.border-gray-600.bg-gray-700.rounded.p-4 svg {
    display: none; }

.inline-flex.mr-1.items-center.rounded-full.text-xs.font-medium.leading-4.bg-green-200.text-green-800 {
  color: #febc2c;
  border-bottom: 2px solid #febc2c;
  background: transparent;
  border-radius: 0;
  padding: 0;
  font-size: 1rem; }

.resp-sharing-button__group {
  padding-top: 4rem; }
  .resp-sharing-button__group .resp-sharing-button {
    border-radius: 0;
    border: 5px solid #1a243b;
    height: 100%;
    padding: 0.5rem 1rem; }
  .resp-sharing-button__group .react-add-to-calendar .text-xs {
    font-size: 1.1rem !important; }
  .resp-sharing-button__group .resp-sharing-button--copy,
  .resp-sharing-button__group .react-add-to-calendar .resp-sharing-button {
    display: block;
    height: auto; }
    .resp-sharing-button__group .resp-sharing-button--copy .text-xs,
    .resp-sharing-button__group .react-add-to-calendar .resp-sharing-button .text-xs {
      font-size: 1.1rem !important; }
  .resp-sharing-button__group .react-add-to-calendar__dropdown {
    background: #ede2d5;
    color: #1a243b;
    padding: 0;
    min-width: 200px;
    margin-top: -10px;
    border: 5px solid #1a243b; }
    .resp-sharing-button__group .react-add-to-calendar__dropdown ul li:last-child {
      margin-bottom: 0; }

.text-gray-100.text-center.bg-gray-700.p-4.rounded-lg.mb-8 {
  color: #ffffff;
  font-family: "Ostia Antica LightItalic", sans-serif;
  font-weight: 300;
  font-style: normal; }

.group:hover div {
  box-shadow: none !important;
  transform: none !important; }

.slider-next-background,
.slider-prev-background {
  background: transparent; }

.group a > div {
  border: 5px solid #1a243b; }
  .group a > div > div.absolute .text-xs.text-always-white {
    display: none !important; }
  .group a > div > div.absolute.bottom-0 {
    background: #febc2c !important;
    width: auto;
    max-width: 100%;
    border: 5px solid #1a243b;
    color: #1a243b;
    font-size: 1.1rem; }
    .group a > div > div.absolute.bottom-0 .text-xs {
      font-family: "Ostia Antica LightItalic", sans-serif;
      font-weight: 300;
      font-style: normal;
      margin-top: 0.5rem; }
  .group a > div > .inline-flex {
    background: transparent;
    color: #febc2c;
    font-size: 0.9rem; }
  .group a > div:hover {
    box-shadow: none !important;
    transform: none !important; }
    .group a > div:hover > div.absolute.bottom-0 {
      background: #fc63a3 !important; }

.max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg {
  border: 5px solid #1a243b; }
  .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg > h2.text-always-gray-800 {
    color: #0f32c9;
    font-family: "Ostia Antica LightItalic", sans-serif;
    font-weight: 300;
    font-style: normal; }
  .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg .text-always-gray-400.text-sm {
    font-family: "Ostia Antica Light", sans-serif;
    font-weight: 300;
    font-style: normal; }
  .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg .text-xs.text-always-gray-500.mr-4.leading-tight.text-center {
    font-family: "Ostia Antica Light", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fc63a3; }
  .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg .tenant-injected-html {
    padding: 0;
    color: #0f32c9;
    font-family: "Ostia Antica Italic", sans-serif;
    font-weight: normal;
    font-style: normal; }
  .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg button.border-always-gray-300.bg-always-white,
  .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg button.shadow-outline-indigo.border-indigo-300.bg-indigo-100 {
    border-radius: 0 !important;
    background: #1a243b;
    box-shadow: none;
    color: #ede2d5;
    border: 5px solid #1a243b; }
    .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg button.border-always-gray-300.bg-always-white:hover,
    .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg button.shadow-outline-indigo.border-indigo-300.bg-indigo-100:hover {
      background: #ede2d5;
      color: #1a243b; }
  .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg button.shadow-outline-indigo.border-indigo-300.bg-indigo-100 {
    background: #fc63a3;
    color: #1a243b;
    font-size: 1.1rem; }
  .max-w-7xl.mx-auto .fixed.top-0 > .rounded-lg #card-element {
    border-radius: 0 !important;
    box-shadow: none !important;
    border: 5px solid #1a243b;
    margin-bottom: 1rem;
    padding: 0.75rem 0.5rem; }

.eventive__button {
  border: 5px solid #1a243b;
  font-size: 1.1rem;
  padding: 0.5rem 1rem; }
  .eventive__button:hover {
    font-family: "Ostia Antica Italic", sans-serif;
    font-weight: normal;
    font-style: normal; }
  .eventive__button:focus {
    box-shadow: none; }
  .eventive__button svg {
    display: none; }
  .eventive__button.bg-indigo-600, .resp-sharing-button__group .resp-sharing-button--copy,
  .resp-sharing-button__group .react-add-to-calendar .resp-sharing-button {
    background: #fc63a3;
    color: #1a243b; }
    .eventive__button.bg-indigo-600:hover, .resp-sharing-button__group .resp-sharing-button--copy:hover,
    .resp-sharing-button__group .react-add-to-calendar .resp-sharing-button:hover {
      background: #ffffff;
      color: #1a243b; }
    .eventive__button.bg-indigo-600:focus, .resp-sharing-button__group .resp-sharing-button--copy:focus,
    .resp-sharing-button__group .react-add-to-calendar .resp-sharing-button:focus {
      border-color: #febc2c; }
  .eventive__button.bg-reverse, .resp-sharing-button__group .resp-sharing-button--copy, .eventive__button.bg-indigo-400 {
    background: #ede2d5;
    color: #1a243b; }
    .eventive__button.bg-reverse:hover, .resp-sharing-button__group .resp-sharing-button--copy:hover, .eventive__button.bg-indigo-400:hover {
      background: #fc63a3;
      color: #1a243b; }

/*# sourceMappingURL=watch.css.map */
