$c-beige: #F2F2F2;
$c-white: #FFFFFF;
$c-black: #000000;
$c-yellow: #FFEA80;
$c-yellowDark: #F4AE00;
$c-green: #ffc086;
$c-blue: #FF85BC;
$c-pink: #FED4E2;


$font: "Matter", sans-serif;
$fontBoldSerif: "PanamaBold", serif;
