@font-face {
  font-family: "Matter";
  font-weight: normal;
  src: url(fonts/MatterSQ-Regular.woff) format("woff"), url(fonts/MatterSQ-Regular.woff2) format("woff2"), url(fonts/Matter-Regular.otf) format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Matter";
  font-weight: 300;
  src: url(fonts/Matter-Light.otf) format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Matter";
  font-weight: 500;
  src: url(fonts/MatterSQ-Medium.woff) format("woff"), url(fonts/MatterSQ-Medium.woff2) format("woff2"), url(fonts/Matter-Medium.otf) format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "PanamaBold";
  font-weight: normal;
  src: url(fonts/Panama-Bold.woff) format("woff");
  font-display: swap;
}
.font-bold {
  font-weight: 500;
}

html:not(.embedded) {
  background: #F2F2F2;
}

html, body {
  background: #F2F2F2;
  font-family: "Matter", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  color: #000000;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app > div > div,
.tenant-injected-html p span {
  color: #000000 !important;
  box-shadow: none !important;
}

.tenant-injected-html p {
  text-align: center;
}
.tenant-injected-html a {
  color: #000000 !important;
  font-family: "Matter", sans-serif !important;
}

form {
  max-width: none !important;
}
form input {
  color: #000000 !important;
}
form label, form div {
  color: #000000 !important;
}
form label {
  font-family: "Matter", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal;
  line-height: 1 !important;
  font-size: 1rem !important;
}
form a {
  font-family: "Matter", sans-serif !important;
  color: #000000 !important;
  text-decoration: none;
}
form div {
  background-color: transparent !important;
  box-shadow: none !important;
  margin-bottom: 0.25rem !important;
}

h2 + .tenant-injected-html > p {
  text-align: center !important;
}

h2 + .tenant-injected-html + div > div {
  height: auto !important;
}

#Eventive--banner {
  margin-bottom: 1rem !important;
  display: none !important;
}

@media (min-width: 1024px) {
  #Eventive--banner {
    display: block !important;
    margin-top: -20px !important;
    border-top: 80px solid #F2F2F2;
    border-bottom: 20px solid #F2F2F2;
    max-width: 1056px !important;
    margin-left: auto;
    margin-right: auto;
  }
}
/*
#app > div > div > div:nth-child(4) > div > div > div:nth-child(2) > div:nth-child(1):not(div[data-radium]) {
  display: none;
}
*/
#app > div > div > div:nth-child(4) > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(2) > div > div > div:nth-child(2) > div:nth-child(2) > button > div, #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(2) > div > div > div:nth-child(2) > div:nth-child(2) > button > div > div {
  border: 0 !important;
  padding: 0 !important;
}

div[data-iframe-height] .StripeElement {
  background: #FFFFFF !important;
  color: #000000 !important;
  padding: 1rem;
}

.blackstar-skin-helper-parent.blackstar-skin-helper-schedule .eventive-mode-switcher__schedule {
  margin: 0 5px;
  border-right: none !important;
}
.blackstar-skin-helper-parent.blackstar-skin-helper-schedule .eventive-mode-switcher__schedule button > div > div:not(.parallax-content) {
  background: #ffc086 !important;
  color: #000000 !important;
}
.blackstar-skin-helper-parent.blackstar-skin-helper-schedule .eventive-mode-switcher__schedule button > div > div:not(.parallax-content) span {
  color: #000000 !important;
}
.blackstar-skin-helper-parent.blackstar-skin-helper-schedule .eventive-mode-switcher__schedule button:hover > div > div:not(.parallax-content) {
  background: #000000 !important;
}
.blackstar-skin-helper-parent.blackstar-skin-helper-schedule .eventive-mode-switcher__schedule button:hover > div > div:not(.parallax-content) span {
  color: #F2F2F2 !important;
}

.blackstar-skin-helper-parent.blackstar-skin-helper-films .eventive-mode-switcher__film-guide {
  margin: 0 5px;
}
.blackstar-skin-helper-parent.blackstar-skin-helper-films .eventive-mode-switcher__film-guide button > div > div:not(.parallax-content) {
  background: #FF85BC !important;
  color: #000000 !important;
}
.blackstar-skin-helper-parent.blackstar-skin-helper-films .eventive-mode-switcher__film-guide button > div > div:not(.parallax-content) span {
  color: #000000 !important;
}
.blackstar-skin-helper-parent.blackstar-skin-helper-films .eventive-mode-switcher__film-guide button:hover > div > div:not(.parallax-content) {
  background: #000000 !important;
}
.blackstar-skin-helper-parent.blackstar-skin-helper-films .eventive-mode-switcher__film-guide button:hover > div > div:not(.parallax-content) span {
  color: #F2F2F2 !important;
}

#app > div > div > div:nth-child(4) > div:nth-child(2) > div > form > h2,
#app > div > div > div:nth-child(4) > div > div > form > h2 {
  font-family: "PanamaBold", serif !important;
  font-weight: normal !important;
  font-style: normal !important;
  line-height: 1 !important;
  text-transform: uppercase !important;
  font-size: 2rem !important;
  line-height: 1 !important;
}
@media (min-width: 1024px) {
  #app > div > div > div:nth-child(4) > div:nth-child(2) > div > form > h2,
  #app > div > div > div:nth-child(4) > div > div > form > h2 {
    font-size: 3rem !important;
    line-height: 1 !important;
  }
}

#app > div > div > div:nth-child(4) > div:nth-child(2) > div > form > div:nth-child(3) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > button,
#app > div > div > div:nth-child(4) > div:nth-child(2) > div > form > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > button,
#app > div > div > div:nth-child(4) > div > div > form > div:nth-child(3) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > button,
#app > div > div > div:nth-child(4) > div > div > form > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > button,
#app > div > div > div:nth-child(4) > div:nth-child(2) > div > form > div:nth-child(3) > div:nth-child(2) > button,
#app > div > div > div:nth-child(4) > div:nth-child(2) > div > form > div:nth-child(3) > div:nth-child(3) > button,
#app > div > div > div:nth-child(4) > div > div > form > div:nth-child(3) > div:nth-child(2) > button,
#app > div > div > div:nth-child(4) > div > div > form > div:nth-child(3) > div:nth-child(3) > button {
  background: transparent !important;
}

/*

.eventive-mode-switcher__virtual-festival {
  margin: 0 5px;

  button > div > div:not(.parallax-content) {
    background: $c-yellow !important;
    color: $c-black !important;

    span {
      color: $c-black !important;
    }
  }

  button:hover {
    > div > div:not(.parallax-content) {
      background: $c-yellow !important;
    }
  }
}

.eventive-mode-switcher__film-guide  button > div > div:not(.parallax-content) {
  background: $c-green !important;
  color: $c-black !important;

  span {
    color: $c-black !important;
  }
}
*/
#app > div > div > div:nth-child(2) {
  background: #FF85BC !important;
}
@media (min-width: 1024px) {
  #app > div > div > div:nth-child(2) {
    border-bottom-left-radius: 30px !important;
    -webkit-border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    -webkit-border-bottom-right-radius: 30px !important;
  }
}
#app > div > div > div:nth-child(2) > div:nth-child(2) img {
  max-width: 160px;
  height: auto !important;
}
@media (min-width: 1024px) {
  #app > div > div > div:nth-child(2) > div:nth-child(2) img {
    height: 40px !important;
    max-width: none;
  }
}
#app > div > div > div:nth-child(2) > div button > div > div:not(.parallax-content), #app > div > div > div:nth-child(2) > div button > button, #app > div > div > div:nth-child(2) > div a > div > div:not(.parallax-content), #app > div > div > div:nth-child(2) > div a > button, #app > div > div > div:nth-child(2) > div button:not(:first-child) > div {
  background: transparent !important;
  color: #000000 !important;
  text-transform: capitalize !important;
}
#app > div > div > div:nth-child(2) > div button > div > div:not(.parallax-content) span, #app > div > div > div:nth-child(2) > div button > button span, #app > div > div > div:nth-child(2) > div a > div > div:not(.parallax-content) span, #app > div > div > div:nth-child(2) > div a > button span, #app > div > div > div:nth-child(2) > div button:not(:first-child) > div span {
  color: #000000 !important;
}
#app > div > div > div:nth-child(2) > div button > div > div:not(.parallax-content):hover, #app > div > div > div:nth-child(2) > div button > button:hover, #app > div > div > div:nth-child(2) > div a > div > div:not(.parallax-content):hover, #app > div > div > div:nth-child(2) > div a > button:hover, #app > div > div > div:nth-child(2) > div button:not(:first-child) > div:hover {
  color: #000000 !important;
}
#app > div > div > div:nth-child(2) > div button > div > div:not(.parallax-content):hover span, #app > div > div > div:nth-child(2) > div button > button:hover span, #app > div > div > div:nth-child(2) > div a > div > div:not(.parallax-content):hover span, #app > div > div > div:nth-child(2) > div a > button:hover span, #app > div > div > div:nth-child(2) > div button:not(:first-child) > div:hover span {
  color: #000000 !important;
}
#app > div > div > div:nth-child(2) > div .icon-exit {
  color: #000000 !important;
}
#app > div > div > div:nth-child(2) > div button:hover > div > div:not(.parallax-content) span, #app > div > div > div:nth-child(2) > div button:hover > button span, #app > div > div > div:nth-child(2) > div a:hover > div > div:not(.parallax-content) span, #app > div > div > div:nth-child(2) > div a:hover > button span {
  font-family: icomoon !important;
}
#app > div > div > div:nth-child(2) > div:first-child button {
  float: right;
  border: none !important;
  color: #000000 !important;
  background: transparent !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1.5rem !important;
  line-height: 1 !important;
  font-family: "Matter", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal;
  line-height: 1 !important;
}
#app > div > div > div:nth-child(2) > div:first-child button svg {
  display: block !important;
}
@media (min-width: 1024px) {
  #app > div > div > div:nth-child(2) > div:first-child button {
    padding: 0.75rem 1rem !important;
    height: auto !important;
  }
}
#app > div > div > div:nth-child(2) > div:first-child button:hover {
  background: transparent !important;
  color: #000000 !important;
}
#app > div > div > div:nth-child(2) > div:first-child button > div > div {
  display: block !important;
  color: #F2F2F2 !important;
  height: auto !important;
}
#app > div > div > div:nth-child(2) > div:first-child button svg {
  fill: currentColor !important;
  color: currentColor !important;
}
#app > div > div > div:nth-child(2) > div:first-child button:hover > div > div {
  color: #000000 !important;
}
@media (min-width: 1024px) {
  #app > div > div > div:nth-child(2) {
    padding: 1rem 0.5rem;
  }
}
#app > div > div > div:nth-child(2) button > div > div {
  display: none !important;
}
#app > div > div > div:nth-child(2) div:nth-child(3) > span > a > div > button > div > div {
  display: block !important;
}
#app > div > div > div:nth-child(2) div:nth-child(3) > span > a > div > button {
  color: #000000 !important;
  background: #F2F2F2 !important;
  height: auto !important;
  text-transform: capitalize !important;
}
#app > div > div > div:nth-child(2) div:nth-child(3) > span > a > div > button div {
  color: #F2F2F2 !important;
  font-weight: 500 !important;
  height: auto !important;
  line-height: 1 !important;
}
#app > div > div > div:nth-child(2) button:hover > div > span {
  color: #F2F2F2 !important;
}
#app > div > div > div:nth-child(2) button:hover > div > svg {
  fill: #F2F2F2 !important;
}
#app > div > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  color: #F2F2F2 !important;
}

#app > div > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  background: #F2F2F2 !important;
  color: #000000 !important;
}

#app > div > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) span[role=menuitem] {
  color: #000000 !important;
}

#app > div > div > div:nth-child(2) > div:nth-child(3) > div > span > a:nth-child(2) > button > div > svg {
  fill: #000000 !important;
}

button, a,
.eventive__ticket-button__container button,
.eventive__universal_ticket-button__container button {
  font-family: "Matter", sans-serif !important;
  box-shadow: none !important;
}
button:focus, a:focus,
.eventive__ticket-button__container button:focus,
.eventive__universal_ticket-button__container button:focus {
  box-shadow: none;
}
button > div > div:not(.parallax-content),
button > button, a > div > div:not(.parallax-content),
a > button,
.eventive__ticket-button__container button > div > div:not(.parallax-content),
.eventive__ticket-button__container button > button,
.eventive__universal_ticket-button__container button > div > div:not(.parallax-content),
.eventive__universal_ticket-button__container button > button {
  background: #000000 !important;
  color: #F2F2F2 !important;
  box-shadow: none !important;
  height: auto !important;
  border: none;
  border-radius: 0.5rem !important;
}
button > div > div:not(.parallax-content) span,
button > button span, a > div > div:not(.parallax-content) span,
a > button span,
.eventive__ticket-button__container button > div > div:not(.parallax-content) span,
.eventive__ticket-button__container button > button span,
.eventive__universal_ticket-button__container button > div > div:not(.parallax-content) span,
.eventive__universal_ticket-button__container button > button span {
  color: #F2F2F2 !important;
  text-transform: none !important;
  vertical-align: 0 !important;
  font-weight: 400 !important;
  line-height: 1rem !important;
}
button > div > div:not(.parallax-content) svg,
button > button svg, a > div > div:not(.parallax-content) svg,
a > button svg,
.eventive__ticket-button__container button > div > div:not(.parallax-content) svg,
.eventive__ticket-button__container button > button svg,
.eventive__universal_ticket-button__container button > div > div:not(.parallax-content) svg,
.eventive__universal_ticket-button__container button > button svg {
  fill: #F2F2F2 !important;
}
button > div > div:not(.parallax-content) span:not(.icon-*),
button > button span:not(.icon-*), a > div > div:not(.parallax-content) span:not(.icon-*),
a > button span:not(.icon-*),
.eventive__ticket-button__container button > div > div:not(.parallax-content) span:not(.icon-*),
.eventive__ticket-button__container button > button span:not(.icon-*),
.eventive__universal_ticket-button__container button > div > div:not(.parallax-content) span:not(.icon-*),
.eventive__universal_ticket-button__container button > button span:not(.icon-*) {
  font-family: "Matter", sans-serif !important;
}
button:hover > div > div:not(.parallax-content),
button:hover > button, a:hover > div > div:not(.parallax-content),
a:hover > button,
.eventive__ticket-button__container button:hover > div > div:not(.parallax-content),
.eventive__ticket-button__container button:hover > button,
.eventive__universal_ticket-button__container button:hover > div > div:not(.parallax-content),
.eventive__universal_ticket-button__container button:hover > button {
  background: #FF85BC !important;
  color: #000000 !important;
}
.FilmPage button:hover > div > div:not(.parallax-content),
.FilmPage button:hover > button, .FilmPage a:hover > div > div:not(.parallax-content),
.FilmPage a:hover > button,
.FilmPage .eventive__ticket-button__container button:hover > div > div:not(.parallax-content),
.FilmPage .eventive__ticket-button__container button:hover > button,
.FilmPage .eventive__universal_ticket-button__container button:hover > div > div:not(.parallax-content),
.FilmPage .eventive__universal_ticket-button__container button:hover > button {
  background: #FFEA80 !important;
}
button:hover > div > div:not(.parallax-content) svg,
button:hover > button svg, a:hover > div > div:not(.parallax-content) svg,
a:hover > button svg,
.eventive__ticket-button__container button:hover > div > div:not(.parallax-content) svg,
.eventive__ticket-button__container button:hover > button svg,
.eventive__universal_ticket-button__container button:hover > div > div:not(.parallax-content) svg,
.eventive__universal_ticket-button__container button:hover > button svg {
  fill: #000000 !important;
}
button:hover > div > div:not(.parallax-content) span,
button:hover > button span, a:hover > div > div:not(.parallax-content) span,
a:hover > button span,
.eventive__ticket-button__container button:hover > div > div:not(.parallax-content) span,
.eventive__ticket-button__container button:hover > button span,
.eventive__universal_ticket-button__container button:hover > div > div:not(.parallax-content) span,
.eventive__universal_ticket-button__container button:hover > button span {
  color: #000000 !important;
}

.EventList--EventListItem button:hover > div > div:not(.parallax-content),
.EventList--EventListItem button:hover > button, .EventList--EventListItem button[disabled]:hover > div > div:not(.parallax-content),
.EventList--EventListItem button[disabled]:hover > button, .EventList--EventListItem a:hover > div > div:not(.parallax-content),
.EventList--EventListItem a:hover > button {
  background: #000000 !important;
}

button[disabled], div[data-reactroot] > div > div > div > div > div + div > p + div > button {
  border-radius: 0 !important;
  font-family: "Matter", sans-serif !important;
  box-shadow: none !important;
  border: 0 !important;
  opacity: 0.5 !important;
  background-color: transparent !important;
  transition: none !important;
}
button[disabled] > div, div[data-reactroot] > div > div > div > div > div + div > p + div > button > div {
  background: #000000 !important;
  color: #FFFFFF !important;
  border-radius: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  transition: none !important;
}
button[disabled] > div span, div[data-reactroot] > div > div > div > div > div + div > p + div > button > div span {
  color: #FFFFFF !important;
  text-transform: none !important;
  vertical-align: 0 !important;
  font-weight: 400 !important;
  line-height: 1rem !important;
}
button[disabled] > div svg, div[data-reactroot] > div > div > div > div > div + div > p + div > button > div svg {
  fill: #000000 !important;
}
button[disabled]:hover > div, div[data-reactroot] > div > div > div > div > div + div > p + div > button:hover > div {
  background: #000000 !important;
  color: #F2F2F2 !important;
}
button[disabled]:hover > div span, div[data-reactroot] > div > div > div > div > div + div > p + div > button:hover > div span {
  color: #F2F2F2 !important;
}
button[disabled]:hover > div svg, div[data-reactroot] > div > div > div > div > div + div > p + div > button:hover > div svg {
  fill: #F2F2F2 !important;
}

div[data-reactroot] > div > div > div > div > div + div > p + div > button {
  opacity: 1 !important;
  margin-left: 1rem !important;
  vertical-align: 2px !important;
}

.eventive__wishlist-button > div > div {
  display: none !important;
}

.eventive__donate-button__button,
.Eventive--TenantButton,
.Eventive--TenantButton button,
.Eventive--TenantButton a,
.eventive__ticket-button__button,
.eventive__universal_ticket {
  background: transparent !important;
  box-shadow: none !important;
  height: auto !important;
}

#app > div > div > div:nth-child(4) > div > div > div.FilmPage > div > div:nth-child(2) > div:nth-child(2) > div > div {
  background: #FFEA80 !important;
  color: #000000 !important;
  height: auto !important;
}
#app > div > div > div:nth-child(4) > div > div > div.FilmPage > div > div:nth-child(2) > div:nth-child(2) > div > div * {
  color: #000000 !important;
}

#app > div > div > div:nth-child(4) > div > div > div.FilmPage > div > div:nth-child(2) > div:nth-child(2) > div > div > div > div:nth-child(2) {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

div[data-iframe-height] > div {
  background: #F2F2F2 !important;
  color: #000000 !important;
  box-shadow: none !important;
  border: none;
  border-radius: 0.5rem !important;
}
div[data-iframe-height] > div a:link, div[data-iframe-height] > div a:visited {
  color: #000000;
}
div[data-iframe-height] > div div {
  box-shadow: none !important;
}
div[data-iframe-height] > div form input {
  color: #000000 !important;
}
div[data-iframe-height] > div form div {
  color: #000000 !important;
}
div[data-iframe-height] > div form a, div[data-iframe-height] > div form a:link, div[data-iframe-height] > div form a:visited {
  color: #000000 !important;
}
div[data-iframe-height] > div > div > div > div h2 {
  font-family: "Matter", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal;
  line-height: 1 !important;
  font-size: 2rem !important;
  color: #000000 !important;
}
div[data-iframe-height] .StripeElement {
  border: none;
  border-radius: 1.5rem !important;
  padding: 1rem 0.75rem;
  border-radius: 1.5rem;
}

#app > div > div > div + div + div + div > div + div > div > div > div {
  border-left: 0 !important;
  border-right: 0 !important;
}

.blackstar-skin-helper-schedule:not(.blackstar-skin-helper-parent):not(.blackstar-skin-helper-quick):not(.blackstar-skin-helper-tickets) #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div > div > div:nth-child(1) > div > button,
.blackstar-skin-helper-schedule:not(.blackstar-skin-helper-parent):not(.blackstar-skin-helper-quick):not(.blackstar-skin-helper-tickets) #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div > div > div:nth-child(2) > div:nth-child(1) > div {
  background: transparent !important;
}

.blackstar-skin-helper-schedule:not(.blackstar-skin-helper-parent):not(.blackstar-skin-helper-quick):not(.blackstar-skin-helper-tickets) #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div,
.blackstar-skin-helper-films:not(.blackstar-skin-helper-parent) #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div {
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 30px !important;
  box-shadow: none !important;
  background: #FED4E2 !important;
}
.blackstar-skin-helper-schedule:not(.blackstar-skin-helper-parent):not(.blackstar-skin-helper-quick):not(.blackstar-skin-helper-tickets) #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div > div > div:nth-child(2) > div:nth-child(1) > div > div,
.blackstar-skin-helper-films:not(.blackstar-skin-helper-parent) #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div > div > div:nth-child(2) > div:nth-child(1) > div > div {
  border-radius: 30px !important;
}
.blackstar-skin-helper-schedule:not(.blackstar-skin-helper-parent):not(.blackstar-skin-helper-quick):not(.blackstar-skin-helper-tickets) #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div > div > div:nth-child(1) > div,
.blackstar-skin-helper-films:not(.blackstar-skin-helper-parent) #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div > div > div:nth-child(1) > div {
  box-shadow: none !important;
  background: transparent !important;
}
.blackstar-skin-helper-schedule:not(.blackstar-skin-helper-parent):not(.blackstar-skin-helper-quick):not(.blackstar-skin-helper-tickets) #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div > div > div:nth-child(2) > div:nth-child(2) > div > div,
.blackstar-skin-helper-films:not(.blackstar-skin-helper-parent) #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div > div > div:nth-child(2) > div:nth-child(2) > div > div {
  background: #FED4E2 !important;
  border-top-left-radius: 30px;
  color: #000 !important;
  border-top-right-radius: 30px;
}
.blackstar-skin-helper-schedule:not(.blackstar-skin-helper-parent):not(.blackstar-skin-helper-quick):not(.blackstar-skin-helper-tickets) #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div > div > div:nth-child(2) > div:nth-child(2) > div > div *,
.blackstar-skin-helper-films:not(.blackstar-skin-helper-parent) #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div > div > div:nth-child(2) > div:nth-child(2) > div > div * {
  color: #000 !important;
}
.blackstar-skin-helper-schedule:not(.blackstar-skin-helper-parent):not(.blackstar-skin-helper-quick):not(.blackstar-skin-helper-tickets) #app > div > div > div:nth-child(4) > div > div > div,
.blackstar-skin-helper-schedule:not(.blackstar-skin-helper-parent):not(.blackstar-skin-helper-quick):not(.blackstar-skin-helper-tickets) #app > div > div > div:nth-child(4) > div > div > div > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(1),
.blackstar-skin-helper-schedule:not(.blackstar-skin-helper-parent):not(.blackstar-skin-helper-quick):not(.blackstar-skin-helper-tickets) #app > div > div > div:nth-child(4) > div > div > div > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(1) > button,
.blackstar-skin-helper-films:not(.blackstar-skin-helper-parent) #app > div > div > div:nth-child(4) > div > div > div,
.blackstar-skin-helper-films:not(.blackstar-skin-helper-parent) #app > div > div > div:nth-child(4) > div > div > div > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(1),
.blackstar-skin-helper-films:not(.blackstar-skin-helper-parent) #app > div > div > div:nth-child(4) > div > div > div > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(1) > button {
  background-color: transparent !important;
  box-shadow: none !important;
}
.blackstar-skin-helper-schedule:not(.blackstar-skin-helper-parent):not(.blackstar-skin-helper-quick):not(.blackstar-skin-helper-tickets) .eventive__ticket-button__container button:not(.eventive__wishlist-button),
.blackstar-skin-helper-schedule:not(.blackstar-skin-helper-parent):not(.blackstar-skin-helper-quick):not(.blackstar-skin-helper-tickets) .eventive__universal_ticket-button__container button:not(.eventive__wishlist-button),
.blackstar-skin-helper-films:not(.blackstar-skin-helper-parent) .eventive__ticket-button__container button:not(.eventive__wishlist-button),
.blackstar-skin-helper-films:not(.blackstar-skin-helper-parent) .eventive__universal_ticket-button__container button:not(.eventive__wishlist-button) {
  background: #000000 !important;
  border: none;
  border-radius: 0.5rem !important;
}
.blackstar-skin-helper-schedule:not(.blackstar-skin-helper-parent):not(.blackstar-skin-helper-quick):not(.blackstar-skin-helper-tickets) #app > div > div > div:nth-child(4) > div > div > div > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(2),
.blackstar-skin-helper-films:not(.blackstar-skin-helper-parent) #app > div > div > div:nth-child(4) > div > div > div > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(2) {
  background: transparent !important;
  box-shadow: none !important;
}
.blackstar-skin-helper-schedule:not(.blackstar-skin-helper-parent):not(.blackstar-skin-helper-quick):not(.blackstar-skin-helper-tickets) #app > div > div > div:nth-child(4) > div > div > div > div > div:nth-child(1) > div:nth-child(2) > div > div,
.blackstar-skin-helper-films:not(.blackstar-skin-helper-parent) #app > div > div > div:nth-child(4) > div > div > div > div > div:nth-child(1) > div:nth-child(2) > div > div {
  border-top-left-radius: 1.5rem !important;
  border-top-right-radius: 1.5rem !important;
  background: #000000 !important;
  margin-top: -1.5rem !important;
}

/*
div[data-radium] {
  > div > div.tenant-injected-html + div {
    > div:first-child {
      background: $c-beige !important;
      border-radius: 0 !important;

      > div:nth-child(2) > div:nth-child(3) > span, > div:nth-child(2) > div:nth-child(3) > div {
          display: none;
      }

      div > div,
      div > div > span {
        color: $c-black !important;
      }

      input {
        color: $c-black !important;
      }

      .Tag {
        @include tag;
        color: $c-black !important;
        border-color: $c-black !important;
      }

      button {
        background: $c-black !important;
        color: $c-beige !important;
        border-radius: 0 !important;
        border: 0 !important;
        height: auto !important;
        padding: 0.25rem 1rem !important;
        box-shadow: none !important;

        .icon-search {
          display: none;
        }

        span {
          color: $c-beige !important;
          text-transform: none !important;
          font-weight: normal !important;
          font-size: 1.25rem !important;
        }

        &:hover {
          background: $c-blue !important;

          span {
            color: $c-black !important;
          }

        }
      }

      label {
        color: $c-black !important;
      }

      > div {

        &:first-child {
          font-size: 2rem !important;

          > div {
            display: none !important;
          }
        }

        &:last-child {
          background: transparent;
        }
      }

      > div > div {
        // display: none !important;
      }

      + div {
        > div:not(.EventList--EventListItem) {
          display: flex !important;
          font-family: $font;
          margin-top: 2rem;
          color: $c-black !important;
          max-width: none !important;
          font-weight: normal !important;
        }
      }
    }
  }
}*/
.EventList--EventListItem {
  border: none;
  border-radius: 0.5rem !important;
  background: #F2F2F2 !important;
  color: #000000 !important;
  margin: 0 1rem !important;
  box-shadow: none !important;
}
@media (min-width: 1024px) {
  .EventList--EventListItem {
    margin: 0 !important;
  }
}
.EventList--EventListItem > div div:first-child {
  color: #000000 !important;
  font-weight: normal !important;
}
.EventList--EventListItem > div div:nth-child(2) {
  font-size: 1.2rem !important;
  font-weight: normal !important;
  font-style: normal !important;
  margin-bottom: 0.5rem !important;
}
.blackstar-skin-helper-viewMode-extended .EventList--EventListItem > div div:nth-child(2) {
  font-size: 1rem !important;
  line-height: normal !important;
}
.EventList--EventListItem > div div:nth-child(2).pull-left {
  font-size: 1rem !important;
}
.EventList--EventListItem .Tag {
  display: none !important;
}
.EventList--EventListItem .eventive__wishlist-button > div > div {
  display: none !important;
}
.EventList--EventListItem .eventive__wishlist-button svg {
  fill: #000000 !important;
}

div[data-radium] > div > div > div > div > div.tenant-injected-html p {
  text-align: left;
}
div[data-radium] > div > div > div > div > div.tenant-injected-html + div > div > a,
div[data-radium] > div > div > div > div > div.tenant-injected-html + div > div > span > a {
  font-family: "Matter", sans-serif !important;
}

#app > div > div > div:nth-child(4) > div:nth-child(2) > div > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div:nth-child(4),
#app > div > div > div:nth-child(4) > div > div > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div:nth-child(4) {
  display: none;
}

.Eventive--SchedulePage .Eventive--ModeSwitcher + div > div > div:not(.EventList--EventListItem) {
  color: #000000 !important;
  padding-left: 0 !important;
  font-size: 1rem !important;
  margin-top: 2rem !important;
}
@media (min-width: 1024px) {
  .Eventive--SchedulePage .Eventive--ModeSwitcher + div > div > div:not(.EventList--EventListItem) {
    font-size: 1.25rem !important;
  }
}

.blackstar-skin-helper-viewMode-grid .Eventive--SchedulePage .Eventive--ModeSwitcher + div > div > div:not(.EventList--EventListItem),
.blackstar-skin-helper-viewMode-timeline .Eventive--SchedulePage .Eventive--ModeSwitcher + div > div > div:not(.EventList--EventListItem) {
  font-size: 0.9rem !important;
}

.Eventive--ModeSwitcher.Eventive--ModeSwitcher--schedule + div > div:first-child > div:nth-child(2n) > button span,
.Eventive--ModeSwitcher.Eventive--ModeSwitcher--schedule + div > div:first-child > div:nth-child(2n) > button,
.Eventive--ModeSwitcher.Eventive--ModeSwitcher--schedule + div.tenant-injected-html + div > div:first-child > div:nth-child(2n) > button span,
.Eventive--ModeSwitcher.Eventive--ModeSwitcher--schedule + div.tenant-injected-html + div > div:first-child > div:nth-child(2n) > button {
  color: #000000 !important;
  background: #FF85BC !important;
}
.Eventive--ModeSwitcher.Eventive--ModeSwitcher--schedule + div > div:first-child > div:nth-child(2n) button span,
.Eventive--ModeSwitcher.Eventive--ModeSwitcher--schedule + div.tenant-injected-html + div > div:first-child > div:nth-child(2n) button span {
  color: #000000 !important;
}
.Eventive--ModeSwitcher.Eventive--ModeSwitcher--schedule + div > div:first-child > div:nth-child(2n) button,
.Eventive--ModeSwitcher.Eventive--ModeSwitcher--schedule + div.tenant-injected-html + div > div:first-child > div:nth-child(2n) button {
  border: none;
  border-radius: 0.5rem !important;
}

.Eventive--ModeSwitcher.Eventive--ModeSwitcher--schedule + div > div:first-child > div:nth-child(1n) button,
.Eventive--ModeSwitcher.Eventive--ModeSwitcher--schedule + div.tenant-injected-html + div > div:first-child > div:nth-child(1n) button {
  fill: #000000 !important;
}

.Eventive--ModeSwitcher > div {
  box-shadow: none !important;
  background-color: transparent !important;
  margin: 0 0.25rem !important;
}
.Eventive--ModeSwitcher > div button {
  background-color: transparent !important;
}

.blackstar-skin-helper-parent.blackstar-skin-helper-schedule #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(1) {
  border-radius: 1.5rem !important;
  box-shadow: none !important;
}

.blackstar-skin-helper-parent.blackstar-skin-helper-schedule .eventive__ticket-button__button.eventive__universal_ticket-button__button button {
  border-radius: 1.5rem !important;
  background: transparent !important;
}

.Films--film_container a {
  box-shadow: none !important;
  margin: 0.25rem !important;
}
@media (min-width: 1024px) {
  .Films--film_container a {
    margin: 1em !important;
  }
}
.Films--film_container a div {
  box-shadow: none !important;
}
.Films--film_container a > div > div {
  background: transparent !important;
  border: 0 !important;
  color: #000000 !important;
  box-shadow: none !important;
}
.Films--film_container a > div {
  border: none;
  border-radius: 0.5rem !important;
  background-color: #000000;
  overflow: hidden;
}
.Films--film_container a:hover > div > div {
  background: transparent !important;
  border: 0 !important;
}
.Films--film_container a:hover > div > div span {
  color: #000000 !important;
  font-family: "Matter", sans-serif !important;
}

.Films--film_filter_editor {
  overflow: hidden;
}
.Films--film_filter_editor div {
  border-radius: 0 !important;
}
.Films--film_filter_editor > div:first-child {
  background: #FFEA80 !important;
  color: #000000 !important;
  border-radius: 30px !important;
  box-shadow: none !important;
  border: none !important;
}
.Films--film_filter_editor > div:first-child input {
  background: #FFEA80 !important;
  color: #000000 !important;
}
.Films--film_filter_editor > div:first-child svg {
  fill: #000000 !important;
}

.Films--film_filter_editor--tags {
  background: transparent !important;
  box-shadow: none !important;
}

.Films--film_container {
  /*
    .parallax .parallax-front {
      background: $c-blue !important;
      height: auto !important;
      width: auto !important;
      top: auto !important;
      bottom: 1rem !important;
      text-shadow: none !important;
      color: $c-black !important;
      text-align: left !important;
      left: 1rem !important;
      right: 1rem !important;

      h1 {
        padding: 1rem 0.25rem 0.25rem !important;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.1rem;
      }

      > div {
        top: 2px !important;
        right: 0 !important;
      }

      svg {
        fill: $c-black !important;
      }
    }*/
}
.Films--film_container a {
  background: #FFEA80;
  border: none;
  border-radius: 1.5rem !important;
}
.Films--film_container a .parallax {
  flex-shrink: 0;
  transform: none !important;
}
.Films--film_container a .parallax div {
  transform: none !important;
}
.Films--film_container a .parallax-content {
  border: none;
  border-radius: 0.5rem !important;
  overflow: hidden;
  transform: none !important;
}
.Films--film_container a > div:not(.parallax) {
  border-radius: 0 !important;
  padding: 1rem !important;
  background-color: transparent !important;
}
.Films--film_container a > div:not(.parallax) h1 {
  color: #000000 !important;
  font-family: "Matter", sans-serif;
  font-weight: normal;
}
.Films--film_container a > div:not(.parallax) h2 {
  color: #000000 !important;
  font-family: "Matter", sans-serif;
  font-weight: normal;
}
.Films--film_container a:hover .parallax .parallax-front {
  background: rgba(0, 0, 0, 0.5) !important;
  color: #F2F2F2 !important;
}
.Films--film_container a:hover .parallax .parallax-front svg {
  fill: #F2F2F2 !important;
}

.FilmCard h2 {
  font-family: "Matter", sans-serif !important;
  color: #000000 !important;
  font-weight: normal !important;
}
.FilmCard .tenant-injected-html p {
  text-align: left;
  color: #000000;
}
.FilmCard .tenant-injected-html + div + div {
  background: #000000 !important;
  color: #F2F2F2 !important;
  padding: 1rem !important;
  border: 0 !important;
  border-radius: 1.5rem !important;
}
.FilmCard .tenant-injected-html + div + div a {
  color: #F2F2F2 !important;
  font-family: "Matter", sans-serif !important;
}
.FilmCard button[type=button] {
  background: #000000 !important;
  color: #F2F2F2 !important;
  border-radius: 0 !important;
  border: 0 !important;
  min-height: 40px !important;
  padding: 0.25rem 1rem !important;
  box-shadow: none !important;
  border-radius: 1.5rem !important;
}
.FilmCard button[type=button] span {
  color: #F2F2F2 !important;
  text-transform: none !important;
  font-weight: normal !important;
}
@media (min-width: 1024px) {
  .FilmCard button[type=button] span {
    font-size: 1.25rem !important;
  }
}
.FilmCard button[type=button] svg {
  fill: #F2F2F2 !important;
}
.FilmCard button[type=button]:hover {
  background: #FF85BC !important;
  color: #000000 !important;
}
.FilmCard button[type=button]:hover span {
  color: #000000 !important;
}
.FilmCard button[type=button]:hover svg {
  fill: #000000 !important;
}

.FilmCard .eventive__wishlist-button svg {
  fill: #000000 !important;
}
.FilmCard div > div ul li {
  margin-bottom: 1rem !important;
}
.FilmCard div > div ul li div {
  color: #000000 !important;
}
.FilmCard div > div ul li div:first-child {
  color: #000000 !important;
  font-family: "Matter", sans-serif;
  font-style: normal !important;
  font-weight: 500;
}
.FilmCard + div > div > a,
.FilmCard + div > div > span > a {
  font-family: "Matter", sans-serif !important;
  text-decoration: none !important;
}

.eventive__ticket-button__container .eventive__wishlist-button svg {
  fill: #000000 !important;
}

div[role=menu] a > div > div:not(.parallax-content) {
  background: transparent !important;
  color: #1a243b !important;
  border-radius: 0 !important;
  border: 0 !important;
  height: auto !important;
  padding: 0 24px !important;
  box-shadow: none !important;
  line-height: 1.75 !important;
}

.blackstar-skin-helper-films:not(.blackstar-skin-helper-parent) #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div.Eventive--ModeSwitcher--film-guide {
  border: none !important;
}

.blackstar-skin-helper-films:not(.blackstar-skin-helper-parent) #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div.FilmPage {
  background: #FFEA80 !important;
}

.blackstar-skin-helper-schedule:not(.blackstar-skin-helper-parent):not(.blackstar-skin-helper-quick):not(.blackstar-skin-helper-tickets) #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div.FilmPage > div > div:nth-child(2) > div:nth-child(2) > div > div,
.blackstar-skin-helper-films:not(.blackstar-skin-helper-parent) #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div.FilmPage > div > div:nth-child(2) > div:nth-child(2) > div > div {
  background: #F4AE00 !important;
}

@media (min-width: 992px) {
  .FilmPage > div > div:nth-child(2) > div > div {
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    overflow: hidden;
  }
}
.Eventive--tickets {
  background: transparent;
  color: #000000;
}
.Eventive--tickets > div {
  color: #000000 !important;
}
.Eventive--tickets svg + div > div div:last-child {
  box-shadow: none !important;
}
.Eventive--tickets input {
  color: #FFFFFF !important;
}
.Eventive--tickets button {
  background: #000000 !important;
  color: #F2F2F2 !important;
  box-shadow: none !important;
  vertical-align: 2px;
  transition: none !important;
  border: none;
  border-radius: 0.5rem !important;
}
@media (min-width: 1024px) {
  .Eventive--tickets button {
    padding: 0 !important;
  }
}
.Eventive--tickets button span {
  vertical-align: 0 !important;
  text-transform: none !important;
  color: #F2F2F2 !important;
  font-weight: normal !important;
}
.Eventive--tickets button span.icon-qrcode {
  display: none !important;
  line-height: 1 !important;
}
@media (min-width: 1024px) {
  .Eventive--tickets button span.icon-qrcode {
    display: inline-block !important;
  }
}
.Eventive--tickets button:hover {
  background: #000000 !important;
}
.Eventive--tickets button:hover span {
  color: #F2F2F2 !important;
}
.Eventive--tickets button:hover span.icon-qrcode {
  font-family: icomoon !important;
  line-height: 1 !important;
}
.Eventive--tickets button > div > div {
  background: transparent !important;
  padding: 0 !important;
  border: 0 !important;
  transition: none !important;
}
.Eventive--tickets.Eventive--tickets--hasTickets > div + div > div + div > div > div > div > div {
  background: transparent !important;
  padding: 0 !important;
  box-shadow: none !important;
  margin-right: 0.1rem;
}
.Eventive--tickets.Eventive--tickets--hasTickets > div + div > div + div > div > div > div > div.eventive__universal_ticket-button__button {
  border: none;
  border-radius: 0.5rem !important;
}
@media (min-width: 1024px) {
  .Eventive--tickets.Eventive--tickets--hasTickets > div + div > div + div > div > div > div > div {
    margin-right: 0.5rem;
  }
}
.Eventive--tickets.Eventive--tickets--hasTickets > div + div > div > div > div > div + div + div {
  margin-bottom: 0.5rem !important;
}
.Eventive--tickets .eventive__universal_ticket-button__button {
  background: transparent !important;
  border: none;
  border-radius: 0.5rem !important;
}

#passes,
#ticket-bundles {
  text-align: left !important;
  font-size: 2rem !important;
  color: #000000;
  line-height: 0 !important;
  text-transform: none !important;
  font-family: "Matter", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal;
  line-height: 1 !important;
}
@media (min-width: 1024px) {
  #passes,
  #ticket-bundles {
    font-size: 3rem !important;
  }
}

h2#passes {
  font-family: "PanamaBold", serif !important;
  font-weight: normal !important;
  font-style: normal !important;
  line-height: 1 !important;
  text-transform: uppercase !important;
  font-size: 3.5rem !important;
  line-height: 1 !important;
  margin-top: 2rem !important;
}
@media (min-width: 1024px) {
  h2#passes {
    font-size: 4.5rem !important;
    line-height: 1 !important;
  }
}

#passes + .tenant-injected-html, #passes,
#ticket-bundles + .tenant-injected-html {
  margin: 0 !important;
}
#passes + .tenant-injected-html > br, #passes > br,
#ticket-bundles + .tenant-injected-html > br {
  display: none !important;
}
#passes + .tenant-injected-html + div, #passes + div,
#ticket-bundles + .tenant-injected-html + div {
  border: 0 !important;
  border-radius: 0 !important;
  margin: 0 -1rem !important;
  box-shadow: none !important;
}
#passes + .tenant-injected-html + div > div, #passes + div > div,
#ticket-bundles + .tenant-injected-html + div > div {
  background: #ffc086 !important;
  padding: 3rem 2rem !important;
  margin: 1rem !important;
  color: #000000 !important;
  text-align: left !important;
  padding-bottom: 4rem !important;
  border: none;
  border-radius: 0.5rem !important;
}
#passes + .tenant-injected-html + div > div > div:first-child, #passes + div > div > div:first-child,
#ticket-bundles + .tenant-injected-html + div > div > div:first-child {
  display: none !important;
}
#passes + .tenant-injected-html + div > div > h4, #passes + div > div > h4,
#ticket-bundles + .tenant-injected-html + div > div > h4 {
  text-align: left !important;
  font-weight: 400 !important;
  text-transform: none !important;
  margin: 0 0 1.5rem !important;
  font-size: 2.25rem !important;
  line-height: 2.5rem !important;
}
#passes + .tenant-injected-html + div > div button, #passes + div > div button,
#ticket-bundles + .tenant-injected-html + div > div button {
  background: transparent !important;
}
#passes + .tenant-injected-html + div > div button > div > div:not(.parallax-content), #passes + div > div button > div > div:not(.parallax-content),
#ticket-bundles + .tenant-injected-html + div > div button > div > div:not(.parallax-content) {
  background: transparent !important;
}
#passes + .tenant-injected-html + div > div .tenant-injected-html p, #passes + div > div .tenant-injected-html p,
#ticket-bundles + .tenant-injected-html + div > div .tenant-injected-html p {
  text-align: left !important;
  font-family: "Matter", sans-serif;
  font-weight: 400 !important;
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  margin-bottom: 3rem !important;
}
#passes + .tenant-injected-html + div > div .tenant-injected-html + div, #passes + div > div .tenant-injected-html + div,
#ticket-bundles + .tenant-injected-html + div > div .tenant-injected-html + div {
  text-align: left !important;
  margin-top: 3rem !important;
}

#ticket-bundles + .tenant-injected-html {
  margin: 0 !important;
}
#ticket-bundles + .tenant-injected-html > br {
  display: none !important;
}
#ticket-bundles + .tenant-injected-html + div {
  border: 0 !important;
  border-radius: 0 !important;
  margin: 0 -1rem !important;
}
#ticket-bundles + .tenant-injected-html + div > div:last-child {
  background: #ffc086 !important;
  color: #000000 !important;
}
@media (min-width: 1280px) {
  #ticket-bundles + .tenant-injected-html + div > div:last-child {
    max-width: 281px;
  }
}
#ticket-bundles + .tenant-injected-html + div + div.tenant-injected-html {
  max-width: none !important;
}

.Eventive--passes > div:first-child {
  color: #000000 !important;
}
.Eventive--passes > div:first-child a {
  color: #000000 !important;
  text-decoration: underline !important;
  font-family: "Matter", sans-serif !important;
  font-weight: 500 !important;
}

.Eventive--passes > div + div > div > div {
  background: transparent;
  box-shadow: none !important;
  margin-bottom: 0.5rem;
}
.Eventive--passes > div + div > div > div button {
  background: #000000 !important;
  color: #FFFFFF !important;
  border: none;
  border-radius: 0.5rem !important;
  height: auto !important;
  box-shadow: none !important;
  vertical-align: middle;
  transition: none !important;
}
.Eventive--passes > div + div > div > div button span {
  vertical-align: 0 !important;
  text-transform: none !important;
  font-weight: normal !important;
  color: #FFFFFF !important;
  font-family: "Matter", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal;
  line-height: 1 !important;
}
.Eventive--passes > div + div > div > div button span.icon-qrcode, .Eventive--passes > div + div > div > div button span.icon-cog {
  font-family: icomoon !important;
}
.Eventive--passes > div + div > div > div button span.icon-qrcode,
.Eventive--passes > div + div > div > div button span.icon-cog {
  display: none !important;
}
@media (min-width: 1024px) {
  .Eventive--passes > div + div > div > div button span.icon-qrcode,
  .Eventive--passes > div + div > div > div button span.icon-cog {
    display: inline-block !important;
  }
}
.Eventive--passes > div + div > div > div button:hover {
  background: #FF85BC !important;
}
.Eventive--passes > div + div > div > div button:hover span {
  color: #000000 !important;
}
.Eventive--passes > div + div > div > div button > div > div {
  padding: 0 !important;
  border: 0 !important;
  transition: none !important;
}

.eventive__pass-button__button {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none;
  border-radius: 0.5rem !important;
  margin-bottom: 2rem !important;
  border: 1px solid black !important;
  color: #000000 !important;
}
.eventive__pass-button__button button > div > div:not(.parallax-content) span {
  font-size: 1.125rem !important;
  line-height: 1.5rem !important;
  color: #000000 !important;
}
.eventive__pass-button__button button:hover > div > div:not(.parallax-content) span {
  font-size: 1.125rem !important;
  line-height: 1.5rem !important;
  color: #FFFFFF !important;
}
.eventive__pass-button__button:hover {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}
.eventive__pass-button__button:hover button > div > div:not(.parallax-content) span, .eventive__pass-button__button:hover button:hover > div > div:not(.parallax-content) span {
  font-size: 1.125rem !important;
  line-height: 1.5rem !important;
  color: #FFFFFF !important;
}
.eventive__pass-button__button + div {
  font-size: 1.2rem !important;
  font-style: normal !important;
  margin-top: -8rem !important;
}

.Eventive--tickets--noTickets button {
  display: none !important;
}

.Eventive--passes *,
.Eventive--tickets * {
  box-shadow: none !important;
}

.Eventive--passes > div:nth-child(2) > div > div > div > div > div:nth-child(1) > div:nth-child(1),
.Eventive--passes > div:nth-child(2) > div:nth-child(3) > div > div > div:nth-child(1) > div:nth-child(1),
.Eventive--passes > div:nth-child(2) > div:nth-child(4) > div > div > div:nth-child(1) > div:nth-child(1) {
  border: none;
  border-radius: 1.5rem !important;
  background: #000000 !important;
}

.Eventive--passes > div:first-child,
.Eventive--passes--noPasses > div:first-child {
  font-size: 1.25rem !important;
  margin-bottom: 4rem !important;
}

.Select-menu-outer {
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  border-top-color: #e6e6e6 !important;
}

.Select-option {
  background-color: #fff !important;
  color: #666 !important;
}

.Select-option.is-selected {
  background-color: #fff !important;
  background-color: rgba(0, 0, 0, 0.04) !important;
  color: #333 !important;
}

.Select-option.is-focused {
  background-color: #fff !important;
  background-color: rgba(0, 0, 0, 0.08) !important;
  color: #333 !important;
}

.Select-option.is-disabled {
  color: #ccc !important;
}

.Select-noresults {
  color: #999 !important;
}

.Select--multi .Select-value {
  background-color: #fff !important;
  background-color: rgba(0, 0, 0, 0.08) !important;
  border: 1px solid #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.24) !important;
  color: #000 !important;
}

.Select--multi a.Select-value-label {
  color: #000 !important;
}

.Select--multi .Select-value-icon {
  border-right: 1px solid rgba(0, 0, 0, 0) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.24) !important;
}

.Select--multi .Select-value-icon:focus, .Select--multi .Select-value-icon:hover {
  background-color: #fff !important;
  background-color: rgba(0, 0, 0, 0.08) !important;
  color: rgba(0, 0, 0, 0) !important;
}

.Select--multi .Select-value-icon:active {
  background-color: #fff !important;
  background-color: rgba(0, 0, 0, 0.24) !important;
}

.Select--multi.Select--rtl .Select-value-icon {
  border-left: 1px solid #fff !important;
  border-left: 1px solid rgba(0, 0, 0, 0.24) !important;
}

.Select--multi.is-disabled .Select-value {
  background-color: #333 !important;
  border: 1px solid rgba(0, 0, 0, 0) !important;
  color: #000 !important;
}

.Select--multi.is-disabled .Select-value-icon {
  border-right: 1px solid #000 !important;
}

.Select--multi.is-disabled .Select-value-icon:active, .Select--multi.is-disabled .Select-value-icon:focus, .Select--multi.is-disabled .Select-value-icon:hover {
  background-color: #000 !important;
}

.blackstar-skin-helper a:link, .blackstar-skin-helper a:visited {
  color: #000000;
  text-decoration: underline;
}

.Eventive--WelcomeButtons > div:nth-child(1n) button > div > div:not(.parallax-content),
.Eventive--WelcomeButtons > div:nth-child(1n) a > div > div:not(.parallax-content) {
  background: #ffc086 !important;
  color: #000000 !important;
}
.Eventive--WelcomeButtons > div:nth-child(1n) button > div > div:not(.parallax-content) span,
.Eventive--WelcomeButtons > div:nth-child(1n) a > div > div:not(.parallax-content) span {
  color: #000000 !important;
}
.Eventive--WelcomeButtons > div:nth-child(2n) button > div > div:not(.parallax-content),
.Eventive--WelcomeButtons > div:nth-child(2n) a > div > div:not(.parallax-content) {
  background: #FFEA80 !important;
  color: #000000 !important;
}
.Eventive--WelcomeButtons > div:nth-child(2n) button > div > div:not(.parallax-content) span,
.Eventive--WelcomeButtons > div:nth-child(2n) a > div > div:not(.parallax-content) span {
  color: #000000 !important;
}
.Eventive--WelcomeButtons > div:nth-child(3n) button > div > div:not(.parallax-content),
.Eventive--WelcomeButtons > div:nth-child(3n) a > div > div:not(.parallax-content) {
  background: #FF85BC !important;
  color: #000000 !important;
}
.Eventive--WelcomeButtons > div:nth-child(3n) button > div > div:not(.parallax-content) span,
.Eventive--WelcomeButtons > div:nth-child(3n) a > div > div:not(.parallax-content) span {
  color: #000000 !important;
}
.Eventive--WelcomeButtons .Eventive--TenantButton button:hover > div > div:not(.parallax-content) span,
.Eventive--WelcomeButtons .Eventive--TenantButton a:hover > div > div:not(.parallax-content) span {
  color: #000000 !important;
}

body > div:nth-child(13) > div > div > div > div > span[role=menuitem] {
  color: #000000 !important;
}

.blackstar-skin-helper-parent.blackstar-skin-helper-schedule #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) > div > div > div > div > div:nth-child(2),
.blackstar-skin-helper-parent.blackstar-skin-helper-schedule #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div:nth-child(3) > div:nth-child(1) > div:nth-child(3) > div > div > div > div > div:nth-child(2) {
  background: #000000 !important;
}

.blackstar-skin-helper-parent.blackstar-skin-helper-schedule #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) > div > div > div > div > div:nth-child(1),
.blackstar-skin-helper-parent.blackstar-skin-helper-schedule #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div:nth-child(3) > div:nth-child(1) > div:nth-child(3) > div > div > div > div > div:nth-child(1) {
  background: #FF85BC !important;
  border: 1px solid #000000 !important;
}

.blackstar-skin-helper-schedule.blackstar-skin-helper-viewMode-grid #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) button,
.blackstar-skin-helper-schedule.blackstar-skin-helper-viewMode-grid #app > div > div > div:nth-child(4) > div > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) button {
  border: none;
  border-radius: 0.5rem !important;
  color: #000000 !important;
  border: 1px solid #000000 !important;
}

.Tag {
  border: none;
  border-radius: 0.5rem !important;
}

.blackstar-skin-helper-schedule.blackstar-skin-helper-viewMode-cover .EventList--EventGridListItem {
  border-radius: 1.5rem !important;
  margin: 0 0.5rem !important;
}
@media (min-width: 1024px) {
  .blackstar-skin-helper-schedule.blackstar-skin-helper-viewMode-cover .EventList--EventGridListItem {
    margin: 0 !important;
  }
}
.blackstar-skin-helper-schedule.blackstar-skin-helper-viewMode-cover .EventList--EventGridListItem img {
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
}

.blackstar-skin-helper-films:not(.blackstar-skin-helper-parent) #app > div > div > div:nth-child(4) > div > div > div > div > div:nth-child(1) > div,
.blackstar-skin-helper-films:not(.blackstar-skin-helper-parent) #app > div > div > div:nth-child(4) > div > div > div > div > div:nth-child(1) > div > button {
  background: transparent !important;
}

.eventive__wishlist-button + div > div {
  box-shadow: none !important;
}

.eventive__donate-button__button button {
  background: #F2F2F2 !important;
}

body.blackstar-skin-helper-account .Eventive--Dialog button,
body.blackstar-skin-helper-forgot form button {
  background: #F2F2F2 !important;
}

#Eventive--orderSummary--orderSuccess > div:nth-child(3) > div > div:nth-child(1),
#Eventive--orderSummary--orderSuccess > div:nth-child(3) > div > div:nth-child(2) {
  border-radius: 1.5rem !important;
}

#Eventive--orderSummary--orderSuccess > div:nth-child(3) > div > div:nth-child(1) > button,
#Eventive--orderSummary--orderSuccess > div:nth-child(3) > div > div:nth-child(2) > button {
  background: transparent !important;
}

/*# sourceMappingURL=eventive.css.map */
